<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="附加檔案模型物件" required="true"/>
    </cc:interface>
    <cc:implementation>
        <p:outputPanel>
            <p:dataList id="ath_file_list_id" class="datalist-noborder"
                        value="#{cc.attrs.model.oneTimeUploadAttachmentVOs}" var="attach"
                        type="definition">
                <p:panelGrid columns="3">
                    <p:selectBooleanCheckbox value="#{attach.checked}">
                        <p:ajax onstart="showLoad();"
                                process="ath_file_list_id"
                                listener="#{cc.attrs.model.changeCheckbox()}"
                                oncomplete="hideLoad();"
                                update="ath_file_list_id"
                        />
                    </p:selectBooleanCheckbox>
                    <p:outputLabel value="#{attach.attName}"/>
                    <p:inputText value="#{attach.attDesc}"
                                 maxlength="255" style="width: 500px"/>
                </p:panelGrid>
            </p:dataList>
        </p:outputPanel>
    </cc:implementation>
</ui:composition>
