<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute name="model" shortDescription="挑選物件"
                      type="com.cy.work.connect.web.util.pf.DataTablePickList" required="true"/>
        <cc:attribute name="widgetVar" shortDescription="panel變數名稱"
                      type="java.lang.String" required="true"/>
        <cc:attribute name="editMode" shortDescription="是否為編輯狀態"
                      type="java.lang.Boolean" required="true"/>
        <cc:attribute name="source_item_title" shortDescription="來源表頭文字"
                      type="java.lang.String" default=""/>
        <cc:attribute name="target_item_title" shortDescription="目標表頭文字"
                      type="java.lang.String" default=""/>
    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <style type="text/css">
            .panelNoBorder {
                border: none !important;
            }

            /*讓過長溢出的字省略變 ...(outputText)*/
            .outputTextEllipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: pre;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        </style>
        <p:panel
                widgetVar="#{cc.attrs.widgetVar}"
                styleClass="panelNoBorder">
            <p:panelGrid id="pgPickList" columns="3"
                         style="margin-top: -10px;margin-bottom: -15px;">
                <p:panelGrid id="pgSource" columns="1">
                    <p:dataTable id="group_dtSource"
                                 widgetVar="group_wvSource"
                                 var="u"
                                 value="#{cc.attrs.model.sourceData}"
                                 selection="#{cc.attrs.model.sourceSelected}"
                                 rowKey="#{u.sid}"
                                 rowIndexVar="rowIndex"
                                 selectionMode="single"
                                 paginator="true"
                                 rows="20"
                                 scrollHeight="200"
                                 scrollable="true"
                                 resizableColumns="true"
                                 liveResize="true">
                        <f:facet name="header">
                            <h:outputLabel
                                    value="#{empty cc.attrs.source_item_title ? '&nbsp;' : cc.attrs.source_item_title}"/>
                        </f:facet>
                        <p:ajax event="rowDblselect"
                                listener="#{cc.attrs.model.btnAddRow}"
                                disabled="#{!cc.attrs.editMode}"
                                onstart="showLoad();"
                                process="@this #{cc.attrs.id}:group_dtSource "
                                update="#{cc.attrs.id}:group_dtTarget #{cc.attrs.id}:group_dtSource"
                                oncomplete="hideLoad();"/>
                        <p:column headerText="序"
                                  styleClass="alignCenter"
                                  width="25">
                            <h:outputText value="#{rowIndex + 1}"/>
                        </p:column>
                        <p:column headerText="群組名稱"
                                  width="110">
                            <h:outputText value="#{u.getGroupNameShowColorful()}" escape="false"
                                          id="groupName"/>
                            <p:tooltip for="@previous"
                                       style="white-space:pre;"
                                       value="#{u.getGroupNameShowColorful()}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                        <p:column headerText="部門">
                            <h:outputText value="#{u.configValueDepsShow}"
                                          escape="false" styleClass="outputTextEllipsis"
                                          id="groupDep"/>
                            <p:tooltip for="@previous"
                                       style="white-space:pre;"
                                       value="#{u.configValueDepsShow}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                        <p:column headerText="人員">
                            <h:outputText value="#{u.configValueUsersShow}"
                                          escape="false" styleClass="outputTextEllipsis"
                                          id="groupUser"/>
                            <p:tooltip for="@previous"
                                       style="white-space:pre;"
                                       value="#{u.configValueUsersShow}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                    </p:dataTable>
                </p:panelGrid>
                <p:panelGrid id="pgPickButtons" columns="1" style="text-align: center">
                    <p:commandButton icon="ui-icon-arrow-1-e"
                                     title="add"
                                     process="@this #{cc.attrs.id}:group_dtSource"
                                     update="#{cc.attrs.id}:group_dtTarget #{cc.attrs.id}:group_dtSource"
                                     actionListener="#{cc.attrs.model.btnAddRow}"
                                     disabled="#{!cc.attrs.editMode}"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();"
                    >
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-arrowstop-1-e"
                                     title="Add All"
                                     process="@this #{cc.attrs.id}:group_dtSource"
                                     update="#{cc.attrs.id}:group_dtTarget #{cc.attrs.id}:group_dtSource"
                                     actionListener="#{cc.attrs.model.btnAddAllRow}"
                                     disabled="#{!cc.attrs.editMode}"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();">
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-arrow-1-w"
                                     title="Remove"
                                     process="@this #{cc.attrs.id}:group_dtTarget"
                                     update="#{cc.attrs.id}:group_dtSource #{cc.attrs.id}:group_dtTarget"
                                     actionListener="#{cc.attrs.model.btnRemoveRow}"
                                     disabled="#{!cc.attrs.editMode}"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();">
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-arrowstop-1-w"
                                     title="Remove All"
                                     process="@this #{cc.attrs.id}:group_dtTarget"
                                     update="#{cc.attrs.id}:group_dtSource #{cc.attrs.id}:group_dtTarget"
                                     actionListener="#{cc.attrs.model.btnRemoveAllRow}"
                                     disabled="#{!cc.attrs.editMode}"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();"
                    >
                    </p:commandButton>
                </p:panelGrid>
                <p:panelGrid id="pgTarget" columns="1">
                    <p:dataTable id="group_dtTarget"
                                 widgetVar="group_wvTarget"
                                 var="u"
                                 value="#{cc.attrs.model.targetData}"
                                 selection="#{cc.attrs.model.targetSelected}"
                                 rowKey="#{u.sid}"
                                 rowIndexVar="rowIndex"
                                 selectionMode="single"
                                 paginator="true"
                                 rows="20"
                                 scrollHeight="200"
                                 scrollable="true"
                                 resizableColumns="true"
                                 liveResize="true">
                        <f:facet name="header">
                            <h:outputLabel
                                    value="#{empty cc.attrs.target_item_title ? '&nbsp;' : cc.attrs.target_item_title}"/>
                        </f:facet>
                        <p:ajax event="rowDblselect"
                                process="@this #{cc.attrs.id}:group_dtTarget"
                                update="#{cc.attrs.id}:group_dtSource #{cc.attrs.id}:group_dtTarget"
                                listener="#{cc.attrs.model.btnRemoveRow}"
                                disabled="#{!cc.attrs.editMode}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                        />
                        <p:column headerText="序"
                                  styleClass="alignCenter"
                                  width="25">
                            <h:outputText value="#{rowIndex + 1}"/>
                        </p:column>
                        <p:column headerText="群組名稱"
                                  width="110">
                            <h:outputText value="#{u.getGroupNameShowColorful()}" escape="false"
                                          id="groupName"/>
                            <p:tooltip for="@previous"
                                       style="white-space:pre;"
                                       value="#{u.getGroupNameShowColorful()}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                        <p:column headerText="部門">
                            <h:outputText value="#{u.configValueDepsShow}"
                                          escape="false" styleClass="outputTextEllipsis"
                                          id="groupDep"/>
                            <p:tooltip for="@previous"
                                       style="white-space:pre;"
                                       value="#{u.configValueDepsShow}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                        <p:column headerText="人員">
                            <h:outputText value="#{u.configValueUsersShow}"
                                          escape="false" styleClass="outputTextEllipsis"
                                          id="groupUser"/>
                            <p:tooltip for="@previous"
                                       style="white-space:pre;"
                                       value="#{u.configValueUsersShow}"
                                       trackMouse="true"
                                       escape="false"/>
                        </p:column>
                    </p:dataTable>
                </p:panelGrid>
            </p:panelGrid>
        </p:panel>
    </cc:implementation>
</ui:composition>
