<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="附加檔案模型物件" required="true"/>
    </cc:interface>
    <cc:implementation>
        <p:fieldset legend="已附加檔案">
            <p:scrollPanel mode="native" style="border:none;height:140px;">
                <p:dataList id="ath_file_list_id" class="datalist-noborder"
                            value="#{cc.attrs.model.attachments.entrySet().toArray()}" var="entry"
                            type="definition">
                    <p:panelGrid columns="3">
                        <p:selectBooleanCheckbox id="fileCheckBox"
                                                 value="#{cc.attrs.model.finalUploadFiles[entry.key]}">
                        </p:selectBooleanCheckbox>
                        <p:outputLabel for="fileCheckBox" value="#{entry.key}"/>
                    </p:panelGrid>
                </p:dataList>
            </p:scrollPanel>
        </p:fieldset>
    </cc:implementation>
</ui:composition>
