<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:cc="http://java.sun.com/jsf/composite"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

    <cc:interface>
        <cc:attribute
                name="quickSingleSelectTreeModel"
                shortDescription="快速選擇樹MBean"
                type="com.cy.work.connect.web.view.components.qstree.AbstractQucikSelectTreeComponentMBean"
                required="true"/>
        <cc:attribute
                name="componentID"
                shortDescription="組件ID"
                type="java.lang.String"
                required="true"/>

        <cc:attribute
                name="dataNodeIcon"
                shortDescription="資料節點醒目Icon"
                type="java.lang.String"
                required="false"/>

    </cc:interface>

    <cc:implementation>
        <p:outputPanel
                id="#{cc.attrs.componentID}"
                styleClass="#{cc.attrs.componentID}_quickSingleSelectTree">

            <!-- 錯誤訊息 -->
            <p:panelGrid rendered="#{cc.attrs.quickSingleSelectTreeModel.initFlag != 'Y'}">
                <p:row>
                    <p:column>
                        <p:outputLabel>開發階段錯誤, 尚未初始化或初始化失敗：[#{cc.attrs.quickSingleSelectTreeModel.initFlag}]</p:outputLabel>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="${cc.attrs.quickSingleSelectTreeModel.message}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>

            <p:panelGrid rendered="#{cc.attrs.quickSingleSelectTreeModel.initFlag == 'Y'}">
                <p:row>
                    <p:column>
                        <!-- ================================= -->
                        <!-- 待選清單樹 -->
                        <!-- ================================= -->
                        <p:panelGrid
                                styleClass="orgusertree-border"
                                style="width:250px; height:400px;">
                            <p:row>
                                <p:column>
                                    <!-- 過濾輸入框 -->
                                    <p:outputPanel style="text-align: left;">
                                        <div class="searchContainer">
                                            <span class="fa fa-search searchIcon"></span>
                                            <p:inputText
                                                    styleClass="#{cc.attrs.componentID}_id_treeFilterText"
                                                    placeholder="Search"
                                                    style="width:120px;height:19px;padding-left:25px;"
                                                    onkeyup="#{cc.attrs.componentID}_outScriptObj.treeNodeFilter('A')"
                                                    onselect="#{cc.attrs.componentID}_outScriptObj.treeNodeFilter('A')"/>
                                            <span
                                                    class="fa fa-times crossIcon"
                                                    onclick="#{cc.attrs.componentID}_outScriptObj.clearFilter4Tree()"
                                                    style="display: none"/>

                                        </div>
                                    </p:outputPanel>
                                </p:column>
                                <p:column>
                                    <!-- 顯示停用 -->
                                    <p:outputPanel style="text-align:right;">
                                        <p:selectBooleanCheckbox
                                                rendered="false"
                                                itemLabel="顯示停用"
                                                value="#{cc.attrs.quickSingleSelectTreeModel.queryShowInactiveNode}">
                                            <p:ajax
                                                    event="change"
                                                    listener="#{cc.attrs.quickSingleSelectTreeModel.switchShowActiveOrinactiveMode()}"
                                                    onstart="showLoad();"
                                                    process="@this #{cc.attrs.componentID}_dataArea"
                                                    update="#{cc.attrs.componentID} #{cc.attrs.componentID}_dataArea"
                                                    oncomplete="hideLoad();"/>
                                        </p:selectBooleanCheckbox>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                            <!-- 清單樹 -->
                            <p:row>
                                <p:column colspan="2">
                                    <hr style="margin-top: -2.5rem !important"/>
                                    <div class="quick-select-tree-treeECIconContainer #{cc.attrs.componentID}_id_TreeECIconContainer">
                                        <span
                                                title="全部展開"
                                                class="fa fa-plus icon-on-hover-t1"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.expandAllTreeNode('A')"> </span>
                                        &nbsp;
                                        <span
                                                title="全部收合"
                                                class="fa fa-minus icon-on-hover-t1"
                                                onclick="#{cc.attrs.componentID}_outScriptObj.collapseAllTreeNode('A')"/>
                                    </div>
                                    <p:outputPanel
                                            style="margin-top:7px;height:310px"
                                            styleClass="#{cc.attrs.componentID}_id_tree">
                                        <p:tree
                                                value="#{cc.attrs.quickSingleSelectTreeModel.rootTreeNode}"
                                                var="node"
                                                widgetVar="#{cc.attrs.componentID}_wv_tree"
                                                propagateSelectionUp="false"
                                                styleClass="quick-select-tree"
                                                animate="true"
                                                dynamic="false"
                                                style="border:1px;width:240px;height:330px;overflow-y: auto;">
                                            <p:treeNode>
                                                <h:outputText
                                                        value="#{cc.attrs.quickSingleSelectTreeModel.getNodeDisplayContext(node)}"
                                                        escape="false"/>
                                                <h:outputText
                                                        value=" - (停用)"
                                                        style="color:#E20F0F;"
                                                        rendered="#{!node.active}"/>
                                            </p:treeNode>
                                        </p:tree>
                                    </p:outputPanel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:outputPanel>

        <!-- 資料區 -->
        <p:outputLabel
                id="#{cc.attrs.componentID}_dataArea"
                style="display:none"
                rendered="#{cc.attrs.quickSingleSelectTreeModel.initFlag == 'Y'}">

            <script
                    type="text/javascript"
                    charset="utf-8"
                    src="../js/components/quickSelectTree.js?cyln=${commonBean.getVersion()}"/>

            <link
                    type="text/css"
                    rel="stylesheet"
                    href="../resources/css/components/quickSelectTree.css?cyln=${commonBean.getVersion()}"/>

            <p:outputLabel
                    styleClass="#{cc.attrs.componentID}_id_allNodeDataRowKeyMap"
                    value="#{cc.attrs.quickSingleSelectTreeModel.nodeDataJsonString}"
                    style="display:none"/>

            <p:inputText
                    type="hidden"
                    styleClass="#{cc.attrs.componentID}_id_selectedNodeData"
                    value="#{cc.attrs.quickSingleSelectTreeModel.selectedNodeDataJsonString}"/>

            <script>
                var #{cc.attrs.componentID}_outScriptObj = null;

                function #{cc.attrs.componentID}_initQuickSelectTree() {
                    #{cc.attrs.componentID}
                    _outScriptObj = new QuickSelectTree(
                        "#{cc.attrs.componentID}",
                        PF('#{cc.attrs.componentID}_wv_tree'),
                        "尚未選擇項目",
                        "${(empty cc.attrs.dataNodeIcon)?'':cc.attrs.dataNodeIcon}",
                        true
                    );
                }

                $(document).ready(function () {
                    #{cc.attrs.componentID}
                    _initQuickSelectTree();
                });
            </script>
        </p:outputLabel>
    </cc:implementation>
</ui:composition>