<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:cc="http://java.sun.com/jsf/composite"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <cc:interface>
        <cc:attribute
                name="model"
                shortDescription="Tag樹物件"
                type="com.cy.work.connect.web.common.MultipleTagTreeManager"
                required="true"/>
        <cc:attribute
                name="dlgName"
                shortDescription="dialog名稱"
                type="java.lang.String"
                required="true"/>
        <cc:attribute
                name="btnShow"
                shortDescription="是否顯示下排按鈕"
                type="java.lang.String"
                required="true"/>
        <cc:attribute
                name="process"
                shortDescription="process的引用頁元件"
                type="java.lang.String"/>
        <cc:attribute
                name="update"
                shortDescription="update的引用頁元件"
                type="java.lang.String"/>
        <cc:actionSource
                name="actionEvent"
                targets="saveEvent"/>
    </cc:interface>

    <cc:implementation>
        <p:remoteCommand
                name="#{cc.attrs.dlgName}filterSearch"
                actionListener="#{cc.attrs.model.searchTagTree}"
                update="depTree"
                process="@this searchText depTree"
                onstart="showLoad();"
                oncomplete="hideLoad();"/>
        <p:panelGrid columns="2"
                     id="depTree_panelGrid"
        >
            <p:inputText
                    value="#{cc.attrs.model.searchText}"
                    onkeydown="executeScriptByEnter(event, '#{cc.attrs.dlgName}filterSearch();');"
                    id="searchText"
                    placeholder="Search"/>
            <p:commandButton
                    icon="ui-icon-search"
                    onstart="showLoad();"
                    oncomplete="hideLoad();"
                    actionListener="#{cc.attrs.model.searchTagTree}"
                    update="depTree"
                    process="@this searchText depTree"/>
        </p:panelGrid>
        <p:outputPanel style="margin-left: 6px;margin-right: 6px;width:100%;overflow:auto;">
            <p:selectBooleanCheckbox
                    id="checkAll"
                    value="#{cc.attrs.model.checkAll}"
                    itemLabel="全選">
                <p:ajax
                        listener="#{cc.attrs.model.selectAllTree}"
                        onstart="showLoad();"
                        oncomplete="hideLoad();"
                        update="depTree"
                        process="@this"/>
            </p:selectBooleanCheckbox>
            <p:treeTable
                    id="depTree"
                    value="#{cc.attrs.model.rootNode}"
                    var="node"
                    selectionMode="checkbox"
                    selection="#{cc.attrs.model.selNode}"
                    style="width:650px;height:300px;"
                    tableStyle="width:633px"
                    scrollHeight="270"
                    scrollable="true">
                <p:column headerText="類別">
                    <h:outputText value="#{node.categoryName}" title="#{node.categoryName}"
                                  styleClass="#{node.firstStyle}"/>
                </p:column>
                <p:column headerText="單據名稱">
                    <h:outputText value="#{node.menuName}" title="#{node.menuName}"
                                  styleClass="#{node.secondStyle}"/>
                </p:column>
                <p:column headerText="執行項目">
                    <h:outputText value="#{node.name}" title="#{node.name}"
                                  styleClass="#{node.thirdStyle}"/>
                </p:column>
            </p:treeTable>
        </p:outputPanel>
        <p:panelGrid columns="3">
            <p:commandButton
                    value="確定"
                    id="saveEvent"
                    onstart="showLoad()"
                    oncomplete="hideLoad()"
                    rendered="#{cc.attrs.btnShow}"
                    process="@this depTree #{cc.attrs.process}"
                    update="#{cc.attrs.update}"/>
            <p:commandButton
                    value="清除"
                    actionListener="#{cc.attrs.model.cleanSelNodeAll}"
                    onstart="showLoad()"
                    rendered="#{cc.attrs.btnShow}"
                    oncomplete="hideLoad()"
                    update="depTree checkAll"
                    process="@this"/>
            <p:commandButton
                    value="取消"
                    process="@this"
                    rendered="#{cc.attrs.btnShow}"
                    oncomplete="PF('#{cc.attrs.dlgName}').hide();"/>
        </p:panelGrid>
    </cc:implementation>
</ui:composition>