<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="WorkReportDataComponent物件"
                      type="com.cy.work.connect.web.view.components.WorkReportDataComponent"
                      required="true"/>
        <cc:attribute name="edit" shortDescription="是否可編輯"
                      type="java.lang.Boolean" required="true"/>
        <cc:attribute name="isCreate" shortDescription="是否為建單"
                      type="java.lang.Boolean" required="true"/>
        <cc:attribute name="process" shortDescription="process的引用頁元件"
                      type="java.lang.String"/>
        <cc:attribute name="showReqAddSignBtn" shortDescription="是否顯示需求單位會簽"
                      type="java.lang.Boolean" required="true"/>
        <cc:attribute name="showExecAddSignBtn" shortDescription="是否顯示核准單位會簽"
                      type="java.lang.Boolean" required="true"/>
        <cc:attribute name="modelSignInfo" shortDescription="會簽單位物件"
                      type="com.cy.work.connect.web.listener.SignInfoMemberCallBack"
                      required="true"/>
        <cc:attribute name="isAdminMode"
              type="java.lang.Boolean"/>    
    </cc:interface>
    <cc:implementation>
        <p:panelGrid columns="2">
            <p:outputPanel>
                <h:outputText value="主題：" styleClass="column-label-require"/>
            </p:outputPanel>
            <h:panelGroup>
                <p:inputText value="#{cc.attrs.model.title}" id="editTitle_id" style="width: 900px;"
                             rendered="#{cc.attrs.edit}"/>
                <p:commandLink value="#{cc.attrs.model.title}" id="wcTitle" style="width: 900px;"
                               styleClass="outputLabelEllipsis" rendered="#{!cc.attrs.edit}"/>
                <p:tooltip for="wcTitle"
                           value="#{cc.attrs.model.title}" rendered="#{!cc.attrs.edit}"
                           trackMouse="true"
                           escape="true"/>

            </h:panelGroup>

            <p:outputPanel>
                <h:outputText value="內容：" styleClass="column-label-require"/>
            </p:outputPanel>
            <p:editor rendered="#{cc.attrs.isAdminMode}" disabled="true" styleClass="hideToolbar"
                      value="-遮蔽-"
                      height="300" width="900">
            </p:editor>

            <p:editor rendered="#{!cc.attrs.edit and not cc.attrs.isAdminMode}" disabled="true" styleClass="hideToolbar"
                      converter="#{editorConverter}"
                      value="#{cc.attrs.model.content}"
                      height="300" width="900">
            </p:editor>
            <p:editor widgetVar="workReportData_content" id="wk_data_content"
                      rendered="#{cc.attrs.edit and not cc.attrs.isAdminMode}"
                      converter="#{editorConverter}" disabled="#{!cc.attrs.edit}"
                      value="#{cc.attrs.model.content}"
                      controls="font size bold italic underline color highlight"
                      height="300" width="900">
            </p:editor>

            <h:panelGroup>
                <h:outputText value="備註："/>
            </h:panelGroup>
            <p:editor rendered="#{cc.attrs.isAdminMode}" disabled="true" styleClass="hideToolbar"
                      value="-遮蔽-"
                      height="100" width="900">
            </p:editor>
            <p:editor converter="#{editorConverter}" disabled="true" rendered="#{!cc.attrs.edit and not cc.attrs.isAdminMode}"
                      value="#{cc.attrs.model.remark}" styleClass="hideToolbar"
                      controls="font size bold italic underline color highlight"
                      height="100" width="900">
            </p:editor>
            <p:editor widgetVar="workReportData_remark" id="wk_data_remark"
                      converter="#{editorConverter}" disabled="#{!cc.attrs.edit}"
                      rendered="#{cc.attrs.edit and not cc.attrs.isAdminMode}"
                      value="#{cc.attrs.model.remark}"
                      controls="font size bold italic underline color highlight"
                      height="100" width="900">
            </p:editor>

        </p:panelGrid>


        <script type="text/javascript">
            jQuery(document).ready(function () {
                reEditor();
            });


        </script>
    </cc:implementation>
</ui:composition>
