<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProjectReport.xhtml"
>
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="核決權限表"/>
    </ui:define>

    <ui:define name="content">
        <!--執行查詢-->
        <p:remoteCommand name="doSearchData"
                         actionListener="#{checkAuthoritySearchBean.doSearch()}"
                         onstart="showLoad();"
                         oncomplete="doCalibrationTable();hideLoad();refreshDataTableScrollHeight('checkTable', $(window).height());"
                         update="container"
                         process="@this view_query"/>

        <p:outputPanel id="view_query" style="padding-bottom: 10px;">
            <p:panelGrid>
                <p:row>
                    <p:column colspan="3" style="padding:0 !important;">
                        <p:panelGrid columns="4">
                            <p:commandButton value="搜尋"
                                             onclick="doSearchData();"
                                             process="@this"
                            />
                            <p:commandButton value="清除"
                                             actionListener="#{checkAuthoritySearchBean.doClearData()}"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();refreshDataTableScrollHeight('checkTable', $(window).height());"
                                             process="@this"
                                             update="@this view_query container"
                            />
                            <p:commandButton value="匯出"
                                             actionListener="#{checkAuthoritySearchBean.hideColumnContent()}"
                                             onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
                                             ajax="false">
                                <p:dataExporter type="xls"
                                                target="checkTable"
                                                fileName="#{checkAuthoritySearchBean.excelFileName}"
                                                postProcessor="#{checkAuthoritySearchBean.exportExcel}"/>
                            </p:commandButton>
                            <p:commandButton
                                    value="欄位顯示"
                                    actionListener="#{checkAuthoritySearchBean.btnDefineField('formTemplate:checkTable')}"
                                    onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    update="dlgDefineField_view"
                                    process="@this"
                                    style="float:right">
                            </p:commandButton>
                        </p:panelGrid>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="類別："/>
                    </p:column>
                    <p:column colspan="1" id="category_tag_id">
                        <p:selectOneMenu value="#{checkAuthoritySearchBean.query.categoryTagId}">
                            <f:selectItem itemValue="" itemLabel="全部"/>
                            <f:selectItems value="#{checkAuthoritySearchBean.categoryTagList}"/>
                            <p:ajax event="change"
                                    listener="#{checkAuthoritySearchBean.onSelectCategoryTagName(checkAuthoritySearchBean.query.categoryTagId)}"
                                    process="@this " update="menu_tag_id"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="可使用單位："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="canUseDepDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadCanUseOrgs()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('canUseDeptUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="可閱部門："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="queryViewDepDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadQueryViewDep()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('queryViewDeptUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="指派單位："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="queryTransDepDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadQueryTransDep()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('queryTransDeptUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="執行單位："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="execDepDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadExecOrgs()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('execDeptUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="相關單位："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="relateDepDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadRelatedOrgs()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('relateDeptUnitDlg').show();"
                        />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="單據名稱："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu value="#{checkAuthoritySearchBean.query.menuTagId}"
                                         valueChangeListener="#{checkAuthoritySearchBean.onSelectMenuTagName}"
                                         id="menu_tag_id">
                            <f:selectItem itemValue="" itemLabel="全部"/>
                            <f:selectItems value="#{checkAuthoritySearchBean.menuTagList}"/>
                            <p:ajax event="change"
                                    listener="#{checkAuthoritySearchBean.onSelectMenuTagName(checkAuthoritySearchBean.query.menuTagId)}"
                                    process="@this " update="sub_tag_id"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="可使用人員："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="useUserDepPickerDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadUseUserOrgsAndPickerUsers()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('useUserPickerUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="可閱人員："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="queryViewUserPickerDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadQueryViewUserOrgsAndPickerUsers()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('queryViewUserPickerUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="指派人員："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="assignDepPickerDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadAssignOrgsAndPickerUsers()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('assignDepPickerUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="執行單位簽核人員："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="execDepPickerDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadExecOrgsAndPickerUsers()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('execDepPickerUnitDlg').show();"
                        />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="執行項目："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu value="#{checkAuthoritySearchBean.query.subTagId}"
                                         id="sub_tag_id">
                            <f:selectItem itemValue="" itemLabel="全部"/>
                            <f:selectItems value="#{checkAuthoritySearchBean.subTagList}"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="多選 類別、單據、執行項目名稱："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton icon="fa fa-plus" update="tagDialogPanel"
                                         actionListener="#{checkAuthoritySearchBean.loadTags()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('tagUnitDlg').show();"
                        />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="執行模式："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu value="#{checkAuthoritySearchBean.query.execMode}">
                            <f:selectItem itemValue="" itemLabel="全部"/>
                            <f:selectItem itemValue="領單" itemLabel="領單"/>
                            <f:selectItem itemValue="派工" itemLabel="派工"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="簽核層級："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu value="#{checkAuthoritySearchBean.query.flowType}">
                            <f:selectItem itemValue="" itemLabel="全部"/>
                            <f:selectItems value="#{checkAuthoritySearchBean.flowTypeList}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:outputPanel>
        <p:panel id="container" header="核決權限表" style="width: 99%;overflow: hidden">
            <p:outputPanel style="float: left;width: 100%">
                <p:dataTable id="checkTable"
                             value="#{checkAuthoritySearchBean.checkAuthorityList}"
                             var="checkAuthority"
                             rowIndexVar="index"
                             frozenColumns="8"
                             scrollable="true"
                             scrollHeight="530"
                             scrollWidth="460">

                    <p:column headerText="類別" styleClass="category_tag">
                        <h:outputText value="#{checkAuthority.showTagName}"/>
                    </p:column>

                    <p:column headerText="單據名稱" styleClass="menu_tag">
                        <h:outputText value="#{checkAuthority.showMenuTagName}"/>
                    </p:column>
                    <p:column headerText="可使用單位"
                              styleClass="canUseDep"
                              style="#{checkAuthoritySearchBean.getStyleByDataTableColumn('可使用單位')}}">
                        <h:outputText value="#{checkAuthority.whoCanUse}" id="whoCanUse"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="whoCanUse"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.whoCanUseTooltip}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay and checkAuthority.showWhoCanUseTemplet}"
                                   trackMouse="true"
                                   escape="false"/>
                        <p:tooltip for="whoCanUse"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.whoCanUse}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay and !checkAuthority.showWhoCanUseTemplet}"
                                   trackMouse="true"
                                   escape="false"/>
                        <p:column colspan="1"
                                  rendered="#{checkAuthoritySearchBean.hasDisplay and !checkAuthority.showWhoCanUseTemplet}">
                            <p:commandButton icon="fa fa-search"
                                             actionListener="#{checkAuthoritySearchBean.loadViewOrgs(checkAuthority.whoCanUse)}"
                                             update="viewdepDialogPanel"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('viewdeptUnitDlg').show();"
                                             rendered="#{checkAuthoritySearchBean.showOrgLook(checkAuthority.whoCanUse)}"/>
                        </p:column>
                    </p:column>
                    <p:column headerText="可使用人員"
                              styleClass="canUseUser"
                              style="#{checkAuthoritySearchBean.getStyleByDataTableColumn('可使用人員')}}">
                        <h:outputText value="#{checkAuthority.useUserNames}" id="useUserNames"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="useUserNames"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.useUserNames}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay}"
                                   trackMouse="true"
                                   escape="false"/>
                        <p:column colspan="1" rendered="#{checkAuthoritySearchBean.hasDisplay}">
                            <p:commandButton icon="fa fa-search"
                                             actionListener="#{checkAuthoritySearchBean.loadUseUsers(checkAuthority.menuTagId)}"
                                             update="useUserDilaogPanelId"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();"
                                             rendered="#{checkAuthority.showUseUsers}"/>
                        </p:column>
                    </p:column>
                    <p:column headerText="強制簽核至上層主管"
                              styleClass="isParentManager"
                              style="#{checkAuthoritySearchBean.getStyleByDataTableColumn('強制簽核至上層主管')}}">
                        <h:outputText value="#{checkAuthority.parentManager}"/>
                    </p:column>
                    <p:column headerText="顯示分類"
                              styleClass="tagType"
                              style="#{checkAuthoritySearchBean.getStyleByDataTableColumn('顯示分類')}}">
                        <h:outputText value="#{checkAuthority.tagType}"/>
                    </p:column>
                    <p:column headerText="執行項目" styleClass="wctag">
                        <h:outputText value="#{checkAuthority.showSubTagName}"/>
                    </p:column>
                    <p:column headerText="簽核層級" styleClass="reqFlowType">
                        <h:outputText value="#{checkAuthority.reqSignInfo}"/>
                    </p:column>
                    <p:column headerText="可閱部門"
                              style="width:100px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('可閱部門')}}">
                        <h:outputText value="#{checkAuthority.whoCanRead}" escape="false"
                                      id="whoCanRead" class="outputTextEllipsis"/>
                        <p:tooltip for="whoCanRead"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.whoCanReadTooltip}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay and checkAuthority.showWhoCanReadTemplet}"
                                   trackMouse="true"
                                   escape="false"/>
                        <p:tooltip for="whoCanRead"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.whoCanRead}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay and !checkAuthority.showWhoCanReadTemplet}"
                                   trackMouse="true"
                                   escape="false"/>
                        <p:column colspan="1"
                                  rendered="#{checkAuthoritySearchBean.hasDisplay and !checkAuthority.showWhoCanReadTemplet}">
                            <p:commandButton icon="fa fa-search"
                                             actionListener="#{checkAuthoritySearchBean.loadViewOrgs(checkAuthority.whoCanRead)}"
                                             update="viewdepDialogPanel"
                                             onstart="showLoad();"
                                             oncomplete="hideLoad();PF('viewdeptUnitDlg').show();"
                                             rendered="#{checkAuthoritySearchBean.showOrgLook(checkAuthority.whoCanRead)}"/>
                        </p:column>
                    </p:column>
                    <p:column headerText="可閱人員"
                              style="width:90px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('可閱人員')}}">
                        <h:outputText value="#{checkAuthority.viewUserNames}" id="viewUserNames"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="viewUserNames"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.viewUserNames}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay}"
                                   trackMouse="true"
                                   escape="false"/>
                        <p:column colspan="1" rendered="#{checkAuthoritySearchBean.hasDisplay}">
                            <p:commandButton icon="fa fa-search"
                                             actionListener="#{checkAuthoritySearchBean.loadViewUsers(checkAuthority.subTagId)}"
                                             update="viewUserDilaogPanelId"
                                             onstart="showLoad();"
                                             rendered="#{checkAuthority.showViewUsers}"
                                             oncomplete="hideLoad();"/>
                        </p:column>
                    </p:column>
                    <p:column headerText="執行單位" style="width:100px">
                        <h:outputText value="#{checkAuthority.execDep}"/>
                    </p:column>
                    <p:column headerText="執行單位簽核人員" style="width:95px">
                        <h:outputText value="#{checkAuthority.execDepUsers}" escape="false"/>
                    </p:column>
                    <p:column headerText="執行模式"
                              style="width:80px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('執行模式')}}">
                        <h:outputText value="#{checkAuthority.execMethod}"/>
                    </p:column>
                    <p:column headerText="指派人員"
                              style="width:90px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('指派人員')}}">
                        <h:outputText value="#{checkAuthority.assignUsers}" id="assignUsers"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="assignUsers"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.assignUsers}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay}"
                                   trackMouse="true"
                                   escape="false"/>
                    </p:column>
                    <p:column headerText="指派單位"
                              style="width:100px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('指派單位')}}">
                        <h:outputText value="#{checkAuthority.transdep}" id="transdep"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="transdep"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.transdep}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay}"
                                   trackMouse="true"
                                   escape="false"/>
                    </p:column>
                    <p:column headerText="管理領單人員"
                              style="width:90px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('管理領單人員')}}">
                        <h:outputText value="#{checkAuthority.receviceManager}" id="receviceManager"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="receviceManager"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.receviceManager}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay}"
                                   trackMouse="true"
                                   escape="false"/>
                    </p:column>
                    <p:column headerText="領單人員"
                              style="width:90px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('領單人員')}}">
                        <h:outputText value="#{checkAuthority.receviceUsers}" id="receviceUsers"
                                      escape="false" class="outputTextEllipsis"/>
                        <p:tooltip for="receviceUsers"
                                   style="white-space:pre;"
                                   value="#{checkAuthority.receviceUsers}"
                                   rendered="#{checkAuthoritySearchBean.hasDisplay}"
                                   trackMouse="true"
                                   escape="false"/>
                    </p:column>
                    <p:column headerText="合法區間"
                              style="width:240px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('合法區間')}}">
                        <h:outputText value="#{checkAuthority.legitimateRange}" escape="false"/>
                    </p:column>
                    <p:column headerText="起訖日"
                              style="width:200px;#{checkAuthoritySearchBean.getStyleByDataTableColumn('起訖日')}}">
                        <h:outputText value="#{checkAuthority.startEnd}" escape="false"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:panel>

        <p:dialog header="部門" widgetVar="viewdeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="viewdepDialogPanel">
                <cp:viewDepTree model="#{checkAuthoritySearchBean.viewDepTreeManager}"
                                dlgName="viewdeptUnitDlg" btnShow="true">
                </cp:viewDepTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="多選 類別、單據、執行項目名稱" widgetVar="tagUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="tagDialogPanel">
                <cp:tagTree model="#{checkAuthoritySearchBean.tagTreeManager}"
                            dlgName="tagUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveTag()}"/>
                </cp:tagTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="可使用單位" widgetVar="canUseDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="canUseDepDialogPanel">
                <cp:depTree model="#{checkAuthoritySearchBean.canUseDepTreeManager}"
                            dlgName="canUseDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveCanUse()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="可閱部門" widgetVar="queryViewDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="queryViewDepDialogPanel">
                <cp:depTree model="#{checkAuthoritySearchBean.queryViewDepTreeManager}"
                            dlgName="queryViewDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveQueryViewOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="指派單位" widgetVar="queryTransDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="queryTransDepDialogPanel">
                <cp:depTree model="#{checkAuthoritySearchBean.queryTransDepTreeManager}"
                            dlgName="queryTransDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveQueryTransOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="執行單位" widgetVar="execDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="execDepDialogPanel">
                <cp:depTree model="#{checkAuthoritySearchBean.execDepTreeManager}"
                            dlgName="execDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveExecOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="相關單位" widgetVar="relateDeptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="relateDepDialogPanel">
                <cp:depTree model="#{checkAuthoritySearchBean.relateDepTreeManager}"
                            dlgName="relateDeptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveRelatedOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="執行單位簽核人員"
                  widgetVar="execDepPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="execDepPickerDialogPanel">
                <cp:depTreePicker model="#{checkAuthoritySearchBean.execDepTreePickerManager}"
                                  dlgName="execDepPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveExecOrgPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="可使用人員"
                  widgetVar="useUserPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="useUserDepPickerDialogPanel">
                <cp:depTreePicker model="#{checkAuthoritySearchBean.useUserDepTreePickerManager}"
                                  dlgName="useUserPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveUseUserPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="可閱人員"
                  widgetVar="queryViewUserPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="queryViewUserPickerDialogPanel">
                <cp:depTreePicker
                        model="#{checkAuthoritySearchBean.queryViewUserDepTreePickerManager}"
                        dlgName="queryViewUserPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveQueryViewUserPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="指派人員"
                  widgetVar="assignDepPickerUnitDlg"
                  modal="true"
                  onShow="PF('unpickuser_WV').clearFilters();PF('pickusered_WV').clearFilters()"
                  resizable="false"
                  width="82%"
                  height="510"
                  position="center center"
                  dynamic="true">
            <p:outputPanel id="assignDepPickerDialogPanel">
                <cp:depTreePicker model="#{checkAuthoritySearchBean.assignDepTreePickerManager}"
                                  dlgName="assignDepPickerUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{checkAuthoritySearchBean.saveAssignOrgPicker()}"/>
                </cp:depTreePicker>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="可使用人員"
                  widgetVar="useUserDilaogVar"
                  modal="true" onShow="PF('useUserDilaogDatatableVar').clearFilters();"
                  resizable="false"
                  position="center "
                  dynamic="true">
            <p:outputPanel id="useUserDilaogPanelId">
                <p:dataTable widgetVar="useUserDilaogDatatableVar"
                             value="#{checkAuthoritySearchBean.useUsers}"
                             var="rs"
                             rows="50"
                             rowKey="#{rs.sid}"
                             rowIndexVar="index"
                             scrollHeight="200"
                             scrollable="true"
                             paginator="true">
                    <p:column headerText="序"
                              width="30">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column headerText="部門" width="120" filterMatchMode="contains"
                              filterBy="#{rs.departmentName}">
                        <h:outputText value="#{rs.departmentName}"/>
                    </p:column>
                    <p:column headerText="名稱" width="120" filterMatchMode="contains"
                              filterBy="#{rs.name}">
                        <h:outputText value="#{rs.name}"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="可閱人員"
                  widgetVar="viewUserDilaogVar"
                  modal="true" onShow="PF('viewUserDilaogDatatableVar').clearFilters();"
                  resizable="false"
                  position="center "
                  dynamic="true">
            <p:outputPanel id="viewUserDilaogPanelId">
                <p:dataTable widgetVar="viewUserDilaogDatatableVar"
                             value="#{checkAuthoritySearchBean.viewUsers}"
                             var="rs"
                             rows="50"
                             rowKey="#{rs.sid}"
                             rowIndexVar="index"
                             scrollHeight="200"
                             scrollable="true"
                             paginator="true">
                    <p:column headerText="序"
                              width="30">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column headerText="部門" width="120" filterMatchMode="contains"
                              filterBy="#{rs.departmentName}">
                        <h:outputText value="#{rs.departmentName}"/>
                    </p:column>
                    <p:column headerText="名稱" width="120" filterMatchMode="contains"
                              filterBy="#{rs.name}">
                        <h:outputText value="#{rs.name}"/>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="個人化顯示設定" widgetVar="dlgDefineField" modal="true">
            <p:outputPanel id="dlgDefineField_view">
                <p:panelGrid columns="2">
                    <p:selectBooleanCheckbox
                            widgetVar="chkboxSelectAll_wv"
                            itemLabel="全選／取消全選" onchange="selectAll(this)">
                    </p:selectBooleanCheckbox>

                </p:panelGrid>
                <p:scrollPanel style="height:500px; width: 200px;" mode="native">
                    <p:panelGrid columns="1" id="selectItemPanel">
                        <c:forEach items="#{checkAuthoritySearchBean.columnFields}" var="field"
                                   varStatus="i">
                            <p:selectBooleanCheckbox
                                    id="colItem${i.index}"
                                    widgetVar="colItem${i.index}_wv"
                                    value="#{checkAuthoritySearchBean.columnFields[field.key]}"
                                    itemLabel="#{field.key}">
                            </p:selectBooleanCheckbox>
                        </c:forEach>
                    </p:panelGrid>
                </p:scrollPanel>
                <p:panelGrid columns="2">
                    <p:commandButton value="確定" onstart="showLoad();"
                                     oncomplete="doCalibrationTable();hideLoad();PF('dlgDefineField').hide();"
                                     update="container" process="@this dlgDefineField_view">
                    </p:commandButton>
                    <p:commandButton value="取消" onclick="PF('dlgDefineField').hide();">
                    </p:commandButton>
                </p:panelGrid>

            </p:outputPanel>
        </p:dialog>

        <style type="text/css">
            @media only screen and (min-width: 1281px) {
                .category_tag {
                    /* 類別 */
                    width: 100px;
                }

                .menu_tag {
                    /* 單據名稱 */
                    width: 130px;
                }

                .canUseDep {
                    /* 可使用單位 */
                    width: 100px;
                }

                .canUseUser {
                    /* 可使用人員 */
                    width: 90px;
                }

                .isParentManager {
                    /* 強制簽核至上層主管 */
                    width: 65px;
                }

                .tagType {
                    /* 顯示分類 */
                    width: 90px;
                }

                .wctag {
                    /* 執行項目 */
                    width: 110px;
                }

                .reqFlowType {
                    /* 簽核層級 */
                    width: 70px;
                }
            }

            @media only screen and (min-width: 0px) and (max-width: 1280px) {
                .category_tag {
                    /* 類別 */
                    width: 50px;
                }

                .menu_tag {
                    /* 單據名稱 */
                    width: 70px;
                }

                .canUseDep {
                    /* 可使用單位 */
                    width: 70px;
                }

                .canUseUser {
                    /* 可使用人員 */
                    width: 50px;
                }

                .isParentManager {
                    /* 強制簽核至上層主管 */
                    width: 65px;
                }

                .tagType {
                    /* 顯示分類 */
                    width: 50px;
                }

                .wctag {
                    /* 執行項目 */
                    width: 110px;
                }

                .reqFlowType {
                    /* 簽核層級 */
                    width: 70px;
                }
            }
        </style>
        <script type="text/javascript">
            //<![CDATA[

            function doCalibrationTable() {
                doMerge();
                synchronizeRowsHeight();
                syncDatatableScrollableMarginRight('checkTable');
                PF()
            }

            function doMerge() {
                groupTable($("#checkTable_frozenTbody tr:has(td)"), 0, 10);
                $("#checkTable_frozenTbody .deleted").remove();
            }

            function groupTable($rows, startIndex, total) {
                if (total === 0) {
                    return;
                }
                var i, currentIndex = startIndex, count = 1, lst = [];
                var tds = $rows.find('td:eq(' + currentIndex + ')');
                var ctrl = $(tds[0]);
                lst.push($rows[0]);
                for (i = 1; i <= tds.length; i++) {
                    if (ctrl.text() == $(tds[i]).text() && ctrl.text() != "") {
                        count++;
                        $(tds[i]).addClass('deleted');
                        lst.push($rows[i]);
                    } else {
                        if (count > 1) {
                            ctrl.attr('rowspan', count);
                            groupTable($(lst), startIndex + 1, total - 1)
                        }
                        count = 1;
                        lst = [];
                        ctrl = $(tds[i]);
                        lst.push($rows[i]);
                    }
                }
            }

            function synchronizeRowsHeight() {
                var $leftRows = $('.ui-datatable-frozenlayout-left').find('tr');
                var $rightRows = $('.ui-datatable-frozenlayout-right').find('tr');

                $leftRows.each(function (index) {
                    var $leftRow = $(this);
                    var $leftHeight = $leftRow.innerHeight();
                    var $rightRow = $rightRows.eq(index);
                    var $rightHeight = $rightRow.innerHeight();

                    if ($rightHeight > $leftHeight) {
                        $leftRow.innerHeight($rightHeight);
                        var diff = $rightHeight - $leftRow.innerHeight();
                        if (diff != 0) {
                            $leftRow.innerHeight($rightHeight + diff);
                        }
                    } else if ($rightHeight < $leftHeight) {
                        $rightRow.innerHeight($leftHeight);
                        var diff = $leftHeight - $rightRow.innerHeight();
                        if (diff != 0) {
                            $rightRow.innerHeight($leftHeight + diff);
                        }
                    }
                });

                //$(window).trigger('resize');
            }

            /**
             * 解決因 datatable 開啟 scrollable=true 功能後, 在某些特定狀況下造成跑版問題 (header 和 row 欄位寬度不一致)
             * @param id
             * @returns
             */
            function syncDatatableScrollableMarginRight(id) {
                const datatableScrollableBodyHeight = $("#" + id).find(
                    ".ui-datatable-frozenlayout-right").find(".ui-datatable-scrollable-body").css(
                    'height');
                const datatableScrollableBodyTableHeight = $("#" + id).find(
                    ".ui-datatable-frozenlayout-right").find(
                    ".ui-datatable-scrollable-body table").css(
                    'height');
                if (datatableScrollableBodyTableHeight < datatableScrollableBodyHeight) {
                    $("#" + id).find(".ui-datatable-frozenlayout-right").find(
                        ".ui-datatable-scrollable-header-box").css('margin-right', '15px');
                }
                $("#" + id).find(".ui-datatable-frozenlayout-left").find(
                    ".ui-datatable-scrollable-body table").css('margin-bottom', '18px');
            }

            //初始化全選按鈕
            function initSelectAllCheckBox() {
                //勾選個數是否等於總數 (已全部選, 故全選燈亮)
                var isChecked = $("[id='selectItemPanel']").find(
                    "input:checkbox[aria-checked != 'true']").length == 0;
                //依據判斷勾選
                if (isChecked) {
                    PF("chkboxSelectAll_wv").check();
                } else {
                    PF("chkboxSelectAll_wv").uncheck();
                }
            }

            //全選或取消全選
            function selectAll(obj) {
                var isChecked = $(obj).is(":checked");
                $("[id='selectItemPanel']").find(".ui-chkbox").each(function () {
                    var wvName = $(this).attr("id") + "_wv";
                    if (isChecked) {
                        PF(wvName).check();
                    } else {
                        PF(wvName).uncheck();
                    }
                });
            }

            $(document).ready(function () {
                refreshDataTableScrollHeight('checkTable', $(window).height());
                $(window).resize(function () {
                    synchronizeRowsHeight();
                    syncDatatableScrollableMarginRight('checkTable');
                    refreshDataTableScrollHeight('checkTable', $(window).height());
                });
            });

            // ]]>
        </script>

    </ui:define>
</ui:composition>
