<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProjectReport.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="申請單據清單"/>
    </ui:define>
    <ui:define name="content">
        <p:tabView id="tabView_id"
                   widgetVar="tabView_wv"
                   styleClass="hideTabBorder">
            <p:ajax event="tabChange"
                    oncomplete="onTabChange();"
                    process="@this"/>
            <p:tab title="申請單位查詢">
                <p:outputPanel>
                    <iframe id="iframe_screen_view_0" height="1200"
                            name="iframe_screen_view_0"
                            frameborder="0"
                            width="100%"
                            onload="resizeIframe(this)"
                            src="../search/search4.xhtml"/>
                </p:outputPanel>
            </p:tab>
            <p:tab title="可閱單據查詢">
                <p:outputPanel deferred="true">
                    <iframe id="iframe_screen_view_1"
                            name="iframe_screen_view_1"
                            frameborder="0"
                            width="100%"
                            onload="resizeIframe(this)"
                            src="../search/search5.xhtml"/>
                </p:outputPanel>
            </p:tab>
        </p:tabView>
        <style>
            .hideView {
                display: none;
            }

            .hideTabBorder {
                border: none;
            }
        </style>
        <script type="text/javascript">
            var frame_height;
            var hideView = "hideView";
            jQuery(document).ready(function () {
                frame_height = $(window).height() - $("#tabView_id .ui-tabs-nav").height() - 30;
            });

            //變更frame高度
            function resizeIframe(obj) {
                obj.style.height = frame_height + 'px';
            }

            //變化tab進行title異動 和 呼叫 frame update
            function onTabChange() {
                var iframeId = "iframe_screen_view_" + PF('tabView_wv').getActiveIndex();
                //變更title
                document.title = $("#" + iframeId).contents().find("title").html();
                //dataTable 滿版
                document.getElementById(iframeId).contentWindow.refreshDtScrollHeightByIframe();
                //刷新
                document.getElementById(iframeId).contentWindow.iframeUpdate();
            }

            //隱藏上方tab(子畫面 呼叫)
            function hideTabView() {
                $("#tabView_id .ui-tabs-nav").addClass(hideView);
            }

            //顯示上方tab(子畫面 呼叫)
            function showTabView() {
                $("#tabView_id .ui-tabs-nav").removeClass(hideView);
            }
        </script>

    </ui:define>

</ui:composition>
