<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProjectReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{sessionTimerBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="所有單據查詢" />
	</ui:define>

	<ui:define name="content">
		<!--執行查詢-->
		<p:remoteCommand
			name="doSearchData"
			actionListener="#{orderListBean.query()}"
			onstart="showLoad();"
			oncomplete="hideLoad();PF('dataTableWorkReportWv').clearFilters();"
			update="#{orderListBean.control.dataTableID}"
			process="@this view_query" />
		<p:outputPanel id="view_query">
			<p:outputPanel>
				<p:outputPanel style="margin-left:5px;">
					<h:outputText
						value="類型 ： 所有單據查詢"
						styleClass="reportTypeColor" />
				</p:outputPanel>
			</p:outputPanel>
			<p:panelGrid rendered="#{!orderListBean.control.showFrame}">
				<p:row>
					<p:column colspan="1">
						<p:outputLabel value="類別：" />
					</p:column>
					<p:column colspan="1">
						<p:selectOneMenu value="#{orderListBean.queryClause.categorySid}">
							<f:selectItem
								itemValue=""
								itemLabel="全部" />
							<f:selectItems value="#{orderListBean.categoryItems}" />
						</p:selectOneMenu>
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="單據狀態：" />
					</p:column>
					<p:column colspan="1">
						<p:selectCheckboxMenu
							value="#{orderListBean.queryClause.statusList}"
							label="單據狀態"
							filter="true"
							filterMatchMode="startsWith"
							panelStyle="width:250px">
							<f:selectItems value="#{orderListBean.statusItems}" />
						</p:selectCheckboxMenu>
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="主題、內容：" />
					</p:column>
					<p:column colspan="1">
						<p:inputText
							value="#{orderListBean.queryClause.searchTextForThemeAndContent}"
							placeholder="主題、內容"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="模糊搜尋：" />
					</p:column>
					<p:column colspan="1">
						<p:inputText
							value="#{orderListBean.queryClause.searchText}"
							placeholder="申請人、主題、內容、追蹤"
							onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
							
					</p:column>
				</p:row>
				<p:row>
					<p:column colspan="4">
						<p:commandButton
							value="上個月"
							actionListener="#{orderListBean.queryClause.dateIntervalClause.changeDateIntervalPreMonth}"
							update="view_query_intervalDate"
							process="@this" />
						<p:commandButton
							value="本月份"
							actionListener="#{orderListBean.queryClause.dateIntervalClause.changeDateIntervalThisMonth}"
							update="view_query_intervalDate"
							process="@this" />
						<p:commandButton
							value="下個月"
							actionListener="#{orderListBean.queryClause.dateIntervalClause.changeDateIntervalNextMonth}"
							update="view_query_intervalDate"
							process="@this" />
						<p:commandButton
							value="前一日"
							actionListener="#{orderListBean.queryClause.dateIntervalClause.changeDateIntervalPreDay}"
							update="view_query_intervalDate"
							process="@this" />
					</p:column>
					<p:column colspan="1">
						<p:outputLabel value="建立區間：" />
					</p:column>
					<p:column colspan="3">
						<p:panelGrid
							columns="3"
							id="view_query_intervalDate">
							<p:calendar
								value="#{orderListBean.queryClause.dateIntervalClause.startDate}"
								navigator="true"
								mode="popup"
								showOn="button"
								pattern="yyyy/MM/dd" />
							<p:outputLabel value="～" />
							<p:calendar
								value="#{orderListBean.queryClause.dateIntervalClause.endDate}"
								navigator="true"
								mode="popup"
								showOn="button"
								pattern="yyyy/MM/dd" />
						</p:panelGrid>
					</p:column>
					<p:column colspan="2">
						<p:panelGrid columns="3">
							<p:commandButton
								value="搜尋"
								actionListener="#{orderListBean.query()}"
								update="#{orderListBean.control.dataTableID}"
								process="@this view_query"
								onstart="showLoad();selectDataTablePage('wvRequire', 0);"
								oncomplete="hideLoad();PF('dataTableWorkReportWv').clearFilters();" />
							<p:commandButton
								value="清除"
								actionListener="#{orderListBean.clear()}"
								onstart="showLoad();"
								oncomplete="hideLoad();PF('dataTableWorkReportWv').clearFilters();"
								update="view_query #{orderListBean.control.dataTableID}"
								process="@this" />
							<p:commandButton
								value="匯出"
								actionListener="#{orderListBean.hideColumnContent()}"
								onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)"
								ajax="false">
								<p:dataExporter
									type="xls"
									target="#{orderListBean.control.dataTableID}"
									fileName="WorkConnect"
									postProcessor="#{orderListBean.exportExcel}" />
							</p:commandButton>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:panelGrid>
		</p:outputPanel>
		<p:outputPanel id="allPanel">
			<p:dataTable
				id="#{orderListBean.control.dataTableID}"
				widgetVar="dataTableWorkReportWv"
				rendered="#{!orderListBean.control.showFrame}"
				value="#{orderListBean.allVos}"
				selection="#{orderListBean.selVo}"
				filteredValue="#{orderListBean.fillterVos}"
				rows="#{orderListBean.columnVO.pageCount}"
				rowKey="#{wc.wcNo}"
				var="wc"
				rowIndexVar="index"
				scrollHeight="#{orderListBean.control.dtScrollHeight}"
				scrollable="true"
				paginator="true"
				draggableColumns="true"
				resizableColumns="true"
				resizeMode="expand"
				selectionMode="single">
				<p:ajax
					event="colResize"
					process="@this"
					update="widthSaveBtn"
					listener="#{orderListBean.customColumn.doResizeColumn()}" />
				<p:ajax
					event="colReorder"
					update="@parent" />
				<f:facet name="header">
					<p:outputPanel>
						<p:autoUpdate />
						<p:commandButton
							value="寬度儲存"
							id="widthSaveBtn"
							rendered="#{orderListBean.customColumn.showResizeColumn}"
							onstart="btnSaveColumnWith('#{orderListBean.control.dataTableID}');"
							process="@this"
							style="position: absolute;right: 15px">
						</p:commandButton>
					</p:outputPanel>
				</f:facet>
				<p:column
					headerText="#{orderListBean.columnVO.index.name}"
					style="text-align: center;"
					rendered="#{orderListBean.columnVO.index.show}"
					width="#{orderListBean.columnVO.index.width}">
					<h:outputText value="#{index+1}" />
				</p:column>
				<p:column
					headerText="#{orderListBean.columnVO.createDate.name}"
					style="text-align: center;"
					rendered="#{orderListBean.columnVO.createDate.show}"
					sortBy="#{wc.createDate}"
					width="#{orderListBean.columnVO.createDate.width}">
					<h:outputText value="#{wc.createDate}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:outputText>
				</p:column>
				<p:column
					headerText="#{orderListBean.columnVO.categoryName.name}"
					rendered="#{orderListBean.columnVO.categoryName.show}"
					filterBy="#{wc.categoryName}"
					filterMatchMode="in"
					sortBy="#{wc.categoryName}"
					style="text-align: center;"
					width="#{orderListBean.columnVO.categoryName.width}">
					<f:facet name="filter">
						<p:selectCheckboxMenu
							label="#{orderListBean.columnVO.categoryName.name}"
							onchange="PF('dataTableWorkReportWv').filter()"
							filter="true"
							filterMatchMode="contains">
							<p:ajax
								event="toggleSelect"
								oncomplete="PF('dataTableWorkReportWv').filter()" />
							<f:selectItems value="#{orderListBean.categoryTagNameItems}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{wc.categoryName}" />
				</p:column>
				<p:column
					headerText="#{orderListBean.columnVO.menuTagName.name}"
					rendered="#{orderListBean.columnVO.menuTagName.show}"
					filterBy="#{wc.menuTagName}"
					filterMatchMode="in"
					sortBy="#{wc.menuTagName}"
					style="text-align: center;"
					width="#{orderListBean.columnVO.menuTagName.width}">
					<f:facet name="filter">
						<p:selectCheckboxMenu
							label="#{orderListBean.columnVO.menuTagName.name}"
							onchange="PF('dataTableWorkReportWv').filter()"
							filter="true"
							filterMatchMode="contains">
							<p:ajax
								event="toggleSelect"
								oncomplete="PF('dataTableWorkReportWv').filter()" />
							<f:selectItems value="#{orderListBean.menuTagNameItems}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{wc.menuTagName}" />
				</p:column>
				<p:column
					headerText="#{orderListBean.columnVO.applicant.name}"
					rendered="#{orderListBean.columnVO.applicant.show}"
					filterMatchMode="contains"
					filterBy="#{wc.applicant}"
					sortBy="#{wc.applicant}"
					style="text-align: center;"
					width="#{orderListBean.columnVO.applicant.width}">
					<h:outputText value="#{wc.applicant}" />
				</p:column>
				<p:column
					headerText="#{orderListBean.columnVO.theme.name}"
					rendered="#{orderListBean.columnVO.theme.show}"
					filterMatchMode="contains"
					filterBy="#{wc.theme}"
					sortBy="#{wc.theme}"
					width="#{orderListBean.columnVO.theme.width}">

					<p:commandButton
						icon="fa fa-search"
						rendered="#{orderListBean.control.displayButton}"
						onclick="openWinByStore('#{index+1}-#{wc.wcNo}');"
						actionListener="#{orderListBean.openWebTab(wc.wcSid)}"
						oncomplete="replaceUrlByStore('#{index+1}-#{wc.wcNo}','../worp/worp_full.xhtml?wrcId=#{wc.wcSid}')"
						process="@this" />
                    &nbsp;
                    <h:outputText
						value="( #{wc.unReadCount} )"
						rendered="#{wc.hasUnReadCount}"
						style=" color: red" />
					<p:commandLink
						id="theme"
						value="#{wc.theme}"
						actionListener="#{orderListBean.showDetail(wc.wcSid)}"
						onstart="showLoad();"
						oncomplete="hideLoad();hideTabView();"
						update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
						process="@this" />
					<p:tooltip
						for="theme"
						rendered="#{orderListBean.control.displayButton}"
						value="#{wc.theme}"
						trackMouse="true"
						escape="false" />
				</p:column>
				<!-- 單據狀態 -->
				<p:column
					headerText="#{orderListBean.columnVO.statusName.name}"
					rendered="#{orderListBean.columnVO.statusName.show}"
					filterBy="#{wc.status}"
					filterMatchMode="in"
					sortBy="#{wc.status}"
					style="text-align: center;"
					width="#{orderListBean.columnVO.statusName.width}">
					<f:facet name="filter">
						<p:selectCheckboxMenu
							label="#{orderListBean.columnVO.statusName.name}"
							onchange="PF('dataTableWorkReportWv').filter()">
							<p:ajax
								event="toggleSelect"
								oncomplete="PF('dataTableWorkReportWv').filter()" />
							<f:selectItems value="#{orderListBean.statusNameItems}" />
						</p:selectCheckboxMenu>
					</f:facet>
					<h:outputText value="#{wc.status}" />
				</p:column>
				<p:column
					headerText="#{orderListBean.columnVO.wcNo.name}"
					rendered="#{orderListBean.columnVO.wcNo.show}"
					filterMatchMode="contains"
					filterBy="#{wc.wcNo}"
					sortBy="#{wc.wcNo}"
					style="text-align: center;"
					width="#{orderListBean.columnVO.wcNo.width}">
					<h:outputText value="#{wc.wcNo}" />
				</p:column>
			</p:dataTable>
		</p:outputPanel>

		<p:outputPanel id="iframePanel">
			<p:outputPanel
				id="frameContentPanel"
				rendered="#{orderListBean.control.showFrame}">
				<iframe
					id="test"
					name="tetst"
					frameborder="0"
					src="#{orderListBean.control.iframeUrl}"
					width="100%" />
				<script type="text/javascript">
					jQuery(document).ready(function() {
						$("#test").css('height', $(window).height() - 20);
					});
				</script>
			</p:outputPanel>
		</p:outputPanel>

		<!--提示訊息-->
		<p:confirmDialog
			id="confimDlgTemplate"
			widgetVar="confimDlgTemplate">
			<f:facet name="message">
				<h:outputText
					value="#{orderListBean.control.errorMsg}"
					escape="false" />
			</f:facet>
			<p:commandButton
				value="確認"
				onclick="PF('confimDlgTemplate').hide()"
				type="button" />
		</p:confirmDialog>

		<!--回到列表查詢-->
		<p:remoteCommand
			name="closeIframe"
			actionListener="#{orderListBean.closeIframe()}"
			oncomplete="showTabView();"
			update=":formTemplate:view_query :formTemplate:allPanel :formTemplate:iframePanel"
			process="@this ">
		</p:remoteCommand>
		<p:remoteCommand
			name="reloadDataByUpdate"
			actionListener="#{orderListBean.reloadDataByUpdate()}"
			process="@this">
		</p:remoteCommand>
		<!--執行上一筆-->
		<p:remoteCommand
			name="openerByBtnUp"
			actionListener="#{orderListBean.openerByBtnUp()}"
			process="@this">
		</p:remoteCommand>
		<!--執行下一筆-->
		<p:remoteCommand
			name="openerByBtnDown"
			actionListener="#{orderListBean.openerByBtnDown()}"
			process="@this ">
		</p:remoteCommand>
		<p:remoteCommand
			name="openerByInvalid"
			actionListener="#{orderListBean.openerByInvalid()}"
			process="@this">
		</p:remoteCommand>
		<p:remoteCommand
			name="openerByEditContent"
			actionListener="#{orderListBean.openerByEditContent()}"
			process="@this">
		</p:remoteCommand>
		<p:remoteCommand
			name="openerByTrace"
			actionListener="#{orderListBean.openerByTrace()}"
			process="@this">
		</p:remoteCommand>
		<p:remoteCommand
			name="openerByFavorite"
			actionListener="#{orderListBean.openerByFavorite()}"
			process="@this">
		</p:remoteCommand>


		<!--透過父畫面 呼叫刷新-->
		<p:remoteCommand
			name="iframeUpdate"
			update="allPanel view_query"
			oncomplete="parent.hideLoad();"
			process="@this">
		</p:remoteCommand>
		<p:remoteCommand
			name="updateDtScrollHeight"
			actionListener="#{orderListBean.updateDtScrollHeight()}"
			process="@this">
		</p:remoteCommand>
		<p:remoteCommand
			name="saveColumnWith"
			actionListener="#{orderListBean.customColumn.saveColumnWith()}"
			onstart="showLoad();"
			oncomplete="hideLoad();"
			process="@this">
		</p:remoteCommand>
		<script type="text/javascript">
			var dtId = '#{orderListBean.control.dataTableID}';
			var dtScrollHeight = null;
			jQuery(document).ready(function() {
				if (checkIframe()) {
					refreshDataTableScrollHeight(dtId, parent.frame_height);
				} else {
					refreshDtScrollHeight(dtId);
				}
				dtScrollHeight = getDt_scrollableHeight(dtId);
				updateDtScrollHeight([ {
					name : 'dtScrollHeight',
					value : dtScrollHeight
				} ]);
			});

			//判斷為iframe
			function checkIframe() {
				if (self !== top) {
					return true;
				}
				return false;
			}

			//刷新DataTableel ScrollHeight  By Iframe
			function refreshDtScrollHeightByIframe() {
				if (dtScrollHeight === null) {
					refreshDataTableScrollHeight(dtId, parent.frame_height);
					dtScrollHeight = getDt_scrollableHeight(dtId);
					updateDtScrollHeight([ {
						name : 'dtScrollHeight',
						value : dtScrollHeight
					} ]);
				}
			}

			//隱藏上方tab(呼叫 父畫面)
			function hideTabView() {
				if (checkIframe()) {
					// parent.hideTabView();
				}
			}

			//顯示上方tab(呼叫 父畫面)
			function showTabView() {
				if (checkIframe()) {
					// parent.showTabView();
				}
			}

			function getNewItemPos(obj) {
				var noOfItems = $("#hiddenSizeId").val();
				var itemIx = $("#hiddenIxId").val();
				var bucketHt = $("#" + obj + " .ui-datatable-scrollable-body")
						.height();
				var scrollHt = $("#" + obj + " .ui-datatable-scrollable-body")
						.prop("scrollHeight");

				var itemHt = parseInt(scrollHt) / parseInt(noOfItems);
				var noItemsInBucket = parseInt(bucketHt) / parseFloat(itemHt);
				var itemNo = parseInt(itemIx) + 1;
				var targetBucket = parseInt(itemNo)
						/ parseFloat(noItemsInBucket);
				var halfBucketHt = parseInt(bucketHt) / 2;
				var scrollPos = (parseInt(bucketHt) * (parseFloat(targetBucket) - 1))
						+ parseFloat(halfBucketHt);
				var scrollPosInt = Math.round(parseFloat(scrollPos));

				$('#' + obj + ' .ui-datatable-scrollable-body').scrollTop(
						scrollPosInt);
			}

			function doReloadDataToUpdate(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				reloadDataByUpdate([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			function openerByInvalidJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByInvalid([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			function openerByEditContentJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByEditContent([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			function openerByTraceJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByTrace([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			function openerByFavoriteJS(obj) {
				var sidValue = '{"sid":"' + obj + '"}';
				openerByFavorite([ {
					name : 'wrc_sid',
					value : "[" + sidValue + "]"
				} ]);
			}

			//欄位寬度儲存
			function btnSaveColumnWith(obj) {
				var theadclone = obj + " .ui-datatable-scrollable-theadclone";
				var columnvalue = "";
				var headText = "";
				var widthText = "";
				if ($("#" + theadclone).length > 0) {
					$("#" + obj + "_head th").each(
							function() {
								if ($(this).css("display") !== 'none') {
									if (columnvalue !== "") {
										columnvalue = columnvalue + ",";
									}
									headText = $.trim($(this).text());
									widthText = $(this).css("width").replace(
											'px', '');
									columnvalue = columnvalue + '{"name":"'
											+ headText + '","width":"'
											+ widthText + '"}';
								}
							});
					saveColumnWith([ {
						name : 'columnvalue',
						value : "[" + columnvalue + "]"
					} ]);
				}
			}
		</script>

	</ui:define>

</ui:composition>
