<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/wc.png']}"/>
    <title>Facelet Title</title>
</h:head>
<h:body>
    404發生錯誤
</h:body>
</html>

