<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/wc.png']}"/>
    <title>連線逾時</title>
    <style>
        body {
            background-image: url("../img/timeout.gif");
        }
    </style>
    <h:outputStylesheet library="css" name="error.css"/>
</h:head>
<h:body>
</h:body>
</html>