<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!--componentId 外部參數-->
<!--categoryTreeComponent 外部參數-->

<!--透過Enter查詢部門名稱-->
<p:remoteCommand
	name="doSearchByName_#{componentId}"
	actionListener="#{categoryTreeComponent.searchByCategoryName()}"
	onstart="showLoad();"
	oncomplete="hideLoad();"
	update="#{componentId}_categoryTree"
	process="@this #{componentId}_name #{componentId}_categoryTree">
</p:remoteCommand>

<p:panelGrid columns="3">
	<p:outputLabel value="名稱：" />
	<p:inputText
		id="#{componentId}_name"
		value="#{categoryTreeComponent.categoryName}"
		placeholder="Search"
		onkeydown="executeScriptByEnter(event, 'doSearchByName_#{componentId}();');"
		size="10" />
	<p:commandButton
		icon="ui-icon-search"
		onclick="doSearchByName_#{componentId}();"
		process="@this"
		type="button" />
</p:panelGrid>

<p:tree
	id="#{componentId}_categoryTree"
	value="#{categoryTreeComponent.categoryTree}"
	selection="#{categoryTreeComponent.selectedNode}"
	var="node"
	selectionMode="single"
	style=" width: 95%;">
	<p:ajax
		event="select"
		update="#{componentId}_categoryTree"
		listener="#{categoryTreeComponent.onNodeSelect}"
		process="@this #{componentId}_categoryTree"
		onstart="showLoad();"
		oncomplete="hideLoad();" />
	<p:ajax
		event="expand"
		process="@this #{componentId}_categoryTree" />

	<p:ajax
		event="collapse"
		process="@this #{componentId}_categoryTree" />
	<p:treeNode>
		<h:outputText
			value="#{node.name}"
			styleClass="#{node.clz}"
			rendered="#{!node.attachmentType}" />
		<p:commandLink
			value="#{node.name}"
			ajax="false"
			actionListener="#{worpCreateBean.exportFile()}"
			styleClass="#{node.clz}"
			rendered="#{node.attachmentType}" />
	</p:treeNode>
</p:tree>

</html>
