<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cp="http://java.sun.com/jsf/composite/components"
        xmlns:f="http://xmlns.jcp.org/jsf/core">

    <!-- ====================================== -->
    <!-- 挑選部門組織樹 -->
    <!-- ====================================== -->
    <p:dialog header="部門" widgetVar="deptUnitDlg" modal="true" resizable="false">
        <p:outputPanel id="dep">
            <cp:depTree model="#{worp2Bean.workReportViewComponent.depTreeManager}"
                        dlgName="deptUnitDlg" btnShow="true">
                <f:actionListener for="actionEvent"
                                  binding="#{worp2Bean.workReportViewComponent.doSelectOrg()}"/>
            </cp:depTree>
        </p:outputPanel>
    </p:dialog>
</ui:composition>