<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<!-- ====================================== -->
	<!-- 需求流程[退回] -->
	<!-- ====================================== -->
	<p:dialog
		header="請選擇退回人員"
		modal="true"
		position="left top"
		id="dlg_bpm_rollback"
		widgetVar="dlg_bpm_rollback"
		draggable="false"
		closable="false"
		resizable="false">
		<p:panelGrid
			id="dlg_bpm_rollback_view"
			columns="1">
			<p:selectOneMenu value="#{worp2Bean.workReportViewComponent.bpmComponent.bpmVo.rollbackSelectTaskSid}">
				<f:selectItems value="#{worp2Bean.workReportViewComponent.bpmComponent.bpmVo.rollbackItems}" />
			</p:selectOneMenu>
			<h:outputText value="確認退回並填寫退回原因！" />
			<p:inputTextarea value="#{worp2Bean.workReportViewComponent.bpmComponent.bpmVo.rollbackComment}" />
		</p:panelGrid>
		<p:panelGrid columns="2">
			<p:commandButton
				value="確定"
				actionListener="#{worp2Bean.workReportViewComponent.bpmComponent.doAction('REQ_FLOW_ROLLBACK')}"
				onstart="showLoad();"
				oncomplete="hideLoad();"
				process="@this dlg_bpm_rollback_view" />
			<p:commandButton
				value="取消"
				onclick="PF('dlg_bpm_rollback').hide()" />
		</p:panelGrid>
	</p:dialog>
</ui:composition>