<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">

<!--execReplyComponent 外部參數-->

<p:dialog header="執行回覆"
          id="dlgExecReply_id"
          modal="true"
          resizable="false"
          widgetVar="dlgExecReply_wv">
    <p:outputPanel id="dlgExecReply_view_id">
        <p:panelGrid columns="2">
            <p:outputLabel value="#{execReplyComponent.editTo.loginInfo}"/>
            <p:outputLabel value="#{execReplyComponent.editTo.updateDate}"/>
        </p:panelGrid>
        <p:editor id="dlgExecReply_view_editor_id"
                  widgetVar="dlgExecReply_view_editor_wv"
                  value="#{execReplyComponent.editTo.contentCss}"
                  converter="#{editorConverter}"
                  style="width: 500px;"
                  controls="font size bold italic underline color highlight"/>
    </p:outputPanel>
    <p:panelGrid columns="2">
        <p:commandButton value="確定"
                         actionListener="#{execReplyComponent.save()}"
                         onclick="showLoad();"
                         onstart="saveHTML('dlgExecReply_view_editor_wv');"
                         oncomplete="hideLoad();"
                         process="@this dlgExecReply_view_id"/>
        <p:commandButton value="取消"
                         onclick="PF('dlgExecReply_wv').hide();"
                         process="@this"
                         type="button"/>
    </p:panelGrid>

</p:dialog>


</html>
