<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
>

    <!-- ====================================== -->
    <!-- 需求流程-加簽[作廢] -->
    <!-- ====================================== -->
    <p:dialog header="作廢"
              modal="true"
              position="left top"
              id="dlg_bpm_invaild_ManagerSignInfo"
              widgetVar="dlg_bpm_invaild_ManagerSignInfo"
              draggable="false"
              closable="false"
              resizable="false"
    >
        <p:panelGrid columns="1">
            <p:column colspan="1">
                <h:outputText value="是否執行作廢??"/>
            </p:column>
        </p:panelGrid>
        <p:panelGrid columns="2">
            <p:commandButton value="確定"
                             actionListener="#{worp2Bean.workReportViewComponent.bpmComponent.btnBpmInvalidManagerSignInfo()}"
                             onstart="showLoad();"
                             oncomplete="hideLoad();"
                             process="@this"/>
            <p:commandButton value="取消" process="@this"
                             onclick="PF('dlg_bpm_invaild_ManagerSignInfo').hide()"/>
        </p:panelGrid>
    </p:dialog>
</ui:composition>