<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
>

    <!-- ====================================== -->
    <!-- 執行流程-無設定執行單位簽核人員[不執行] -->
    <!-- ====================================== -->
    <p:dialog header="不執行"
              modal="true"
              position="center center-200"
              id="dlg_bpm_stop_execDep"
              widgetVar="dlg_bpm_stop_execDep"
              draggable="false"
              closable="false"
              resizable="false">
        <p:panelGrid id="stop_execDep_panel_id">
            <p:row>
                <p:column colspan="1">
                    <h:outputText value="不執行原因"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="1">
                    <p:inputTextarea
                            value="#{worp2Bean.workReportViewComponent.workReportBtnComponent.rollbackReason}"
                            cols="35" rows="7" autoResize="true"/>
                </p:column>
            </p:row>
            <p:row>
                <p:column colspan="2">
                    <p:commandButton value="確定"
                                     onstart="showLoad();"
                                     oncomplete="hideLoad();"
                                     actionListener="#{worp2Bean.workReportViewComponent.workReportBtnComponent.workReportButtonListener.clickExecDepStop()}"
                                     process="@this stop_execDep_panel_id"/>
                    <p:commandButton type="button" value="取消"
                                     onclick="PF('dlg_bpm_stop_execDep').hide()"/>
                </p:column>
            </p:row>
        </p:panelGrid>
    </p:dialog>
</ui:composition>