<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition>
    <!--該頁面進行重新讀取-->
    <p:dialog header="確認" widgetVar="dlgIdleSession" modal="true"
              onHide="locatReload();">
        <p:panelGrid columns="1">
            <h:outputText value="該頁面已經逾期將重新導向"/>
        </p:panelGrid>
        <p:panelGrid columns="1">
            <p:commandButton value="確定" onclick="PF('dlgIdleSession').hide();"/>
        </p:panelGrid>
    </p:dialog>

    <script type="text/javascript">
        //系統sessionTime
        var sessionTime = #{session.maxInactiveInterval};
        //預留時間(秒)
        var reserved_time = 300;
        var processTimer;
        //閒置時間
        var idle_time = 0;
        //是否執行閒置計算
        var idleMonitor = true;

        //開始啟動閒置計算
        function startIdleMonitor() {
//                console.info("===開始啟動閒置計算===");
            idle_time = 0;
            idleMonitor = true;
            timedCount();
        }

        //累加閒置時間
        function timedCount() {
            if (idleMonitor) {
                idle_time = idle_time + 1;
                if (checkIdletime()) {
                    idleTimeout();
                } else {
//                        console.info("繼續倒數閒置時間=>" + idle_time);
                    processTimer = setTimeout("timedCount()", 1000);
                }
            }
        }

        //判斷是否超過連線時間
        function checkIdletime() {
            return (idle_time + reserved_time) > sessionTime;
        }

        //閒置Timeout
        function idleTimeout() {
//                console.info("閒置Timeout");
            stopTimedCount();
            PF('dlgIdleSession').show();
        }

        //停止倒數
        function stopTimedCount() {
            idleMonitor = false;
            clearTimeout(processTimer);
        }

        //重新啟動閒置計算
        function reStartIdleMonitor() {
            stopTimedCount();
            startIdleMonitor();
        }

        //重新導向
        function locatReload() {
//                console.info("重新導向");
            window.location.reload();
        }
    </script>
</ui:composition>
</html>