<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>
<h:head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="#{resource['images/wc.png']}"/>
    <title>
        <ui:insert name="title">無標題</ui:insert>
    </title>
    <style>
    </style>

    <!-- 框架共用 CSS -->
    <link rel="stylesheet" type="text/css"
          href="../resources/css/framework.css?cyln=${commonBean.getVersion()}"/>
          
    <link rel="stylesheet" type="text/css" href="../resources/css/calendar.css?cyln=#{commonBean.getVersion()}" />
    <ui:insert name="customCSS"/>
    <script type="text/javascript" charset="utf-8"
            src="../js/common/extend.js?cyln=#{commonBean.getVersion()}"></script>
    <script type="text/javascript" charset="utf-8"
            src="../js/common/framework.js?cyln=#{commonBean.getVersion()}"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/FixedColumns.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery.atmosphere.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/time/jquery.timer.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/time/demo.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/jquery.countdown.js"></script>
    <ui:include src="../template/resize_js.xhtml"/>
    <h:outputStylesheet library="css" name="cytheme.css"/>
    <h:outputStylesheet library="css" name="UXGuideline_WS1.css"/>
    <h:outputStylesheet library="primefaces" name="primeicons/primeicons.css"/>
</h:head>
<h:body>
    <!--
    <div id="paramTitle">
            <h1>組織管理平台</h1>
            <span>登入者：［］</span>
    </div>
    -->
    <ui:insert name="__form"/>

    <ui:insert name="contentFull"></ui:insert>
    <ui:insert name="customJS"/>
</h:body>
</html>
