<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui">

<!--memoDataComponent 外部參數-->
<p:outputPanel id="screen_view_data">
    <p:panelGrid>
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="主題：" styleClass="column-label-require"/>
            </p:column>
            <p:column colspan="1">
                <p:inputText value="#{memoDataComponent.theme}"
                             disabled="#{memoDataComponent.disabledEdit}"
                             style="width: 900px;"/>
            </p:column>
        </p:row>
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="內容：" styleClass="column-label-require"/>
            </p:column>
            <p:column colspan="1">
                <p:editor id="screen_view_data_content_id"
                          widgetVar="screen_view_data_content_wv"
                          disabled="#{memoDataComponent.disabledEdit}"
                          converter="#{editorConverter}"
                          value="#{memoDataComponent.content}"
                          controls="font size bold italic underline color highlight"
                          height="300"
                          width="900">
                </p:editor>
            </p:column>
        </p:row>
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="備註："/>
            </p:column>
            <p:column colspan="1">
                <p:editor id="screen_view_data_memo_id"
                          widgetVar="screen_view_data_memo_wv"
                          disabled="#{memoDataComponent.disabledEdit}"
                          converter="#{editorConverter}"
                          value="#{memoDataComponent.memo}"
                          controls="font size bold italic underline color highlight"
                          height="100"
                          width="900">
                </p:editor>
            </p:column>
        </p:row>
    </p:panelGrid>
</p:outputPanel>

</html>
