<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<!--com.cy.petition.web.view.components.PeCommentsComponent-->
<!--commentsComponent 外部參數-->
<p:dialog header="意見/說明"
          widgetVar="dlg_comments_component_wv"
          draggable="true"
          resizable="false"
          modal="true"
          position="left top">
    <p:panelGrid columns="2">
        <p:outputLabel value="意見/說明："/>
        <p:inputTextarea id="dlg_comments_component_view_textarea_id"
                         value="#{commentsComponent.commentsText}"
                         counter="dlg_comments_component_view_display_id"
                         autoResize="false"
                         rows="13"
                         cols="80"
                         maxlength="500"
                         counterTemplate="剩餘可輸入長度：{0} ">
        </p:inputTextarea>
        <p:outputLabel value=""/>
        <h:outputText id="dlg_comments_component_view_display_id"/>
    </p:panelGrid>
    <p:panelGrid columns="2">
        <p:commandButton value="確定" onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{commentsComponent.btnSubmit()}"
                         process="@this dlg_comments_component_view_textarea_id"/>
        <p:commandButton value="取消" onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{commentsComponent.btnCancel()}"
                         process="@this"/>
    </p:panelGrid>
</p:dialog>

</html>
