<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:dialog widgetVar="dlgConnectRelevance"
          header="工作聯絡單關聯"
          modal="true"
          width="70%"

          position="left,top">
    <p:ajax event="close"
            listener="#{relevanceComponent.clear()}"
            update="dlgConnectRelevance_view"
            process="@this"/>
    <p:outputPanel id="dlgConnectRelevance_view" style="height:550px">
        <p:tabView id="dlgConnectRelevance_view_tvRelevance"
                   widgetVar="dlgConnectRelevance_view_wvRelevance">
            <p:tab title="加入關聯">
                <p:panelGrid id="dlgConnectRelevance_view_relevance_query"
                             columns="9">
                    <p:remoteCommand name="searchUnRelevance"
                                     actionListener="#{relevanceComponent.doSearchUnRelevance()}"
                                     update="dlgRelevance_view_relevance_view"
                                     process="@this dlgConnectRelevance_view_relevance_query"
                                     onstart="showLoad();" oncomplete="hideLoad();"/>
                    <p:outputLabel value="建立區間"/>
                    <p:calendar value="#{relevanceComponent.startDate}"
                                navigator="true" mode="popup"
                                showOn="button" pattern="yyyy/MM/dd">
                    </p:calendar>
                    <p:outputLabel value="～"/>
                    <p:calendar value="#{relevanceComponent.endDate}"
                                navigator="true" mode="popup"
                                showOn="button" pattern="yyyy/MM/dd">
                    </p:calendar>
                    <p:inputText value="#{relevanceComponent.searchText}"
                                 onkeydown="executeScriptByEnter(event, 'searchUnRelevance();');"
                                 placeholder="Search">
                    </p:inputText>
                    <p:commandButton icon="ui-icon-search"
                                     process="@this"
                                     onclick="searchUnRelevance();">
                    </p:commandButton>
                </p:panelGrid>
                <p:outputPanel id="dlgRelevance_view_relevance_view">
                    <p:outputPanel rendered="#{relevanceComponent.showRelevance}">
                        <p:outputLabel value="未加入相關聯之工作聯絡單"/>
                        <p:dataTable widgetVar="dlgRelevance_view_relevance_view_wvWaitRelevance"
                                     var="r"
                                     value="#{relevanceComponent.unRelevances}"
                                     selection="#{relevanceComponent.selectUnRelevances}"
                                     rowKey="#{r.wc_sid}"
                                     rowIndexVar="rowIndex"
                                     scrollable="true"
                                     scrollHeight="200"
                                     paginator="true"
                                     rows="10"
                                     resizableColumns="true"
                                     liveResize="true">
                            <p:column selectionMode="multiple"
                                      width="4%"
                                      styleClass="alignCenter"/>
                            <p:column headerText="序"
                                      width="4%"
                                      styleClass="alignCenter">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="單號"
                                      width="10%">
                                <h:outputText value="#{r.wc_no}"/>
                            </p:column>
                            <p:column headerText="標籤名稱"
                                      width="25%">
                                <h:outputText value="#{r.tag}"/>
                            </p:column>
                            <p:column headerText="主題">
                                <h:outputText
                                        id="dlgRelevance_view_relevance_view_waitRelevance_theme"
                                        value="#{r.theme}"/>
                                <p:tooltip
                                        for="dlgRelevance_view_relevance_view_waitRelevance_theme"
                                        value="#{r.theme}"
                                        trackMouse="true"/>
                            </p:column>
                        </p:dataTable>
                        <p:separator/>
                        <p:outputLabel value="已加入相關聯之工作聯絡單"/>
                        <p:dataTable widgetVar="dlgRelevance_view_relevance_view_wvRelevance"
                                     var="r"
                                     value="#{relevanceComponent.alreadyRelevances}"
                                     rowKey="#{r.wc_sid}"
                                     rowIndexVar="rowIndex"
                                     scrollable="true"
                                     scrollHeight="130"
                                     paginator="true"
                                     rows="10"
                                     resizableColumns="true"
                                     liveResize="true">
                            <p:column headerText="序"
                                      width="4%"
                                      styleClass="alignCenter">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="單號"
                                      width="10%">
                                <h:outputText value="#{r.wc_no}"/>
                            </p:column>
                            <p:column headerText="標籤名稱"
                                      width="25%">
                                <h:outputText value="#{r.tag}"/>
                            </p:column>

                            <p:column headerText="主題"
                                      width="26%">
                                <h:outputText id="dlgRelevance_view_relevance_view_relevance_theme"
                                              value="#{r.theme}"/>
                                <p:tooltip for="dlgRelevance_view_relevance_view_relevance_theme"
                                           value="#{r.theme}"
                                           trackMouse="true"/>
                            </p:column>
                            <p:column width="5%">
                                <p:commandButton title="刪除關聯"
                                                 icon="ui-icon-trash"
                                                 actionListener="#{relevanceComponent.doRemoveDetailFromGroup(r.wc_sid)}"
                                                 onstart="showLoad();"
                                                 oncomplete="hideLoad();"
                                                 update="dlgConnectRelevance_view_tvRelevance:dlgRelevance_view_relevance_view"
                                                 process="@this">
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                        <p:panelGrid columns="2">
                            <p:commandButton value="確定"
                                             onstart="showLoad();"
                                             actionListener="#{relevanceComponent.doSaveLinkByDetailSid()}"
                                             oncomplete="hideLoad();"
                                             process="@this dlgRelevance_view_relevance_view">
                            </p:commandButton>
                            <p:commandButton value="關閉"
                                             onclick="PF('dlgConnectRelevance').hide();"
                                             process="@this">
                            </p:commandButton>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:outputPanel>
            </p:tab>
            <p:tab title="加入現有群組">
                <p:panelGrid id="dlgRelevance_view_group_query"
                             columns="8">
                    <p:remoteCommand name="searchGroupRelevance"
                                     actionListener="#{relevanceComponent.doSearchGroupRelevance()}"
                                     update="dlgRelevance_view_group_view"
                                     process="@this dlgRelevance_view_group_query"
                                     onstart="showLoad();" oncomplete="hideLoad();"/>
                    <p:outputLabel value="關聯區間"/>
                    <p:calendar value="#{relevanceComponent.groupStartDate}"
                                navigator="true"
                                mode="popup"
                                showOn="button">
                    </p:calendar>
                    <p:outputLabel value="～"/>
                    <p:calendar value="#{relevanceComponent.groupEndDate}"
                                navigator="true"
                                mode="popup"
                                showOn="button">
                    </p:calendar>
                    <p:inputText value="#{relevanceComponent.groupSearchText}"
                                 onkeydown="executeScriptByEnter(event, 'searchGroupRelevance();');"
                                 placeholder="Search">
                    </p:inputText>
                    <p:commandButton icon="ui-icon-search"
                                     onclick="searchGroupRelevance();">
                    </p:commandButton>
                </p:panelGrid>
                <p:outputPanel id="dlgRelevance_view_group_view">
                    <p:outputPanel rendered="#{relevanceComponent.showGroupRelevance}">
                        <p:outputLabel value="工作聯絡單關聯群組"/>
                        <p:dataTable widgetVar="dlgRelevance_view_group_view_wvGroup"
                                     var="g"
                                     value="#{relevanceComponent.linkGroupInfos}"
                                     selection="#{relevanceComponent.selLinkGroupInfo}"
                                     rowKey="#{g.groupSid}"
                                     rowIndexVar="rowIndex"
                                     selectionMode="single"
                                     scrollable="true"
                                     scrollHeight="200"
                                     paginator="true"
                                     rows="10"
                                     resizableColumns="true"
                                     liveResize="true">
                            <p:ajax event="rowSelect"
                                    onstart="showLoad();"
                                    listener="#{relevanceComponent.loadGroupDetailRelevance()}"
                                    oncomplete="hideLoad();"
                                    update=":dlgConnectRelevance_view_tvRelevance:dlgRelevance_view_group_view_dtGroupDetail"
                                    process="@this"/>
                            <p:column headerText="序"
                                      width="4%"
                                      styleClass="alignCenter">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="單號"
                                      width="10%">
                                <h:outputText value="#{g.wc_no}"/>
                            </p:column>
                            <p:column headerText="標籤名稱"
                                      width="20%">
                                <h:outputText value="#{g.tag}"/>
                            </p:column>
                            <p:column headerText="主題"
                                      width="24%">
                                <h:outputText id="dlgRelevance_view_group_view_wvGroup_theme"
                                              value="#{g.theme}"/>
                                <p:tooltip for="dlgRelevance_view_group_view_wvGroup_theme"
                                           value="#{g.theme}"
                                           trackMouse="true"/>
                            </p:column>
                            <p:column headerText="開單日期"
                                      width="10%"
                                      styleClass="alignCenter">
                                <h:outputText value="#{g.createDate}">
                                </h:outputText>
                            </p:column>
                            <p:column headerText="建立者－關聯時間" width="25%">
                                <h:outputText value="#{g.createUserName} - "/>
                                <h:outputText value="#{g.connectDate}">
                                </h:outputText>
                            </p:column>
                        </p:dataTable>
                        <p:outputLabel value="群組內關聯之工作聯絡單"/>
                        <p:dataTable id="dlgRelevance_view_group_view_dtGroupDetail"
                                     widgetVar="dlgRelevance_view_group_view_wvGroupDetail"
                                     var="detail"
                                     value="#{relevanceComponent.groupDetails}"
                                     rowKey="#{detail.wc_sid}"
                                     rowIndexVar="rowIndex"
                                     scrollable="true"
                                     scrollHeight="130"
                                     paginator="true"
                                     rows="10"
                                     resizableColumns="true"
                                     liveResize="true">
                            <p:column headerText="序"
                                      width="4%"
                                      styleClass="alignCenter">
                                <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                            <p:column headerText="單號"
                                      width="10%">
                                <h:outputText value="#{detail.wc_no}"/>
                            </p:column>
                            <p:column headerText="標籤名稱"
                                      width="20%">
                                <h:outputText value="#{detail.tag}"/>
                            </p:column>
                            <p:column headerText="主題">
                                <h:outputText id="dlgRelevance_view_group_view_wvGroupDetail_theme"
                                              value="#{detail.theme}"/>
                                <p:tooltip for="dlgRelevance_view_group_view_wvGroupDetail_theme"
                                           value="#{detail.theme}"
                                           trackMouse="true"/>
                            </p:column>
                            <p:column headerText="開單日期" width="10%">
                                <p:outputLabel value="#{detail.createDate}">
                                </p:outputLabel>
                            </p:column>
                            <p:column headerText="建立者－關聯時間" width="25%">
                                <p:outputLabel value="#{detail.createUserName} - "/>
                                <p:outputLabel value="#{detail.connectDate}">
                                </p:outputLabel>
                            </p:column>
                        </p:dataTable>
                        <p:panelGrid columns="2">
                            <p:commandButton value="確定"
                                             onstart="showLoad();"
                                             actionListener="#{relevanceComponent.doSaveLinkByGroupSid()}"
                                             oncomplete="hideLoad();"
                                             process="@this dlgRelevance_view_group_view">
                            </p:commandButton>
                            <p:commandButton value="關閉"
                                             onclick="PF('dlgConnectRelevance').hide();"
                                             process="@this">
                            </p:commandButton>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:outputPanel>
            </p:tab>
        </p:tabView>
    </p:outputPanel>
</p:dialog>
</html>
