<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProject.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{worp2Bean.initialize()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="工作聯絡單" />
	</ui:define>

	<ui:define name="content">

		<c:set
			var="isAdminMode"
			value="#{worp2Bean.workReportViewComponent.adminMode}"></c:set>

		<!--意見說明元件-->
		<ui:include src="../worp/commentsComponent.xhtml">
			<ui:param
				name="commentsComponent"
				value="#{worp2Bean.workReportViewComponent.commentsComponent}" />
		</ui:include>

		<ui:include src="../worp/viewPersonComponent.xhtml">
			<ui:param
				name="viewPersonComponent"
				value="#{worp2Bean.workReportViewComponent.viewPersonComponent}" />
		</ui:include>

		<!--上方功能按鈕-->
		<p:outputPanel id="workReportBtnPanel">
			<cp:workReportBtn
				model="#{worp2Bean.workReportViewComponent.workReportBtnComponent}"
				rendered="#{(worp2Bean.workReportViewComponent.workReportBtnComponent.showBtnComponent
                            or (worp2Bean.workReportViewComponent.workReportBtnComponent.bpmComponent.showBtnComponent and worp2Bean.showTitleBtn))}"
				showTitleBtn="#{worp2Bean.showTitleBtn}"
				isFromFormsign="#{worp2Bean.fromFormsign}"
				isAdminMode="#{isAdminMode}"
				process="workReportHeaderPanel
                category_items_panel_id
                workReportDataPanel
                legitimate_range_panel_id
                start_end_panel_id">
			</cp:workReportBtn>
		</p:outputPanel>
		<p:scrollPanel
			mode="native"
			id="scrollPanelID">

			<!-- 人員、聯絡單資訊-->
			<p:outputPanel id="workReportHeaderPanel">
				<cp:workReportHeader
					isAddMode="#{false}"
					model="#{worp2Bean.workReportViewComponent.workReportHeaderComponent}"
					model2="#{worp2Bean.workReportViewComponent.workReportBtnComponent}"
					edit="#{worp2Bean.workReportViewComponent.edit}"
					editing="#{worp2Bean.workReportViewComponent.workReportBtnComponent.editMode}">
					<f:actionListener
						for="ActionEvent"
						binding="#{worp2Bean.workReportViewComponent.workReportReadReceiptsMemberComponent.sendToReadReceopt()}" />
				</cp:workReportHeader>
			</p:outputPanel>

			<!-- 單據名稱、執行項目-->
			<p:outputPanel id="category_items_panel_id">
				<ui:include src="../components/category_items.xhtml">
					<ui:param
						name="componentId"
						value="categoryItems" />
					<ui:param
						name="categoryItemComponent"
						value="#{worp2Bean.workReportViewComponent.categoryItemComponent}" />
				</ui:include>
			</p:outputPanel>

			<!-- legitimate_range-->
			<p:outputPanel id="legitimate_range_panel_id">
				<ui:include src="../components/legitimate_range.xhtml">
					<ui:param
						name="legitimateRangeComponents"
						value="#{worp2Bean.workReportViewComponent.categoryItemComponent.legitimateRangeComponents}" />
				</ui:include>
			</p:outputPanel>

			<!-- start_end-->
			<p:outputPanel id="start_end_panel_id">
				<ui:include src="../components/start_end.xhtml">
					<ui:param
						name="startEndComponents"
						value="#{worp2Bean.workReportViewComponent.categoryItemComponent.startEndComponents}" />
				</ui:include>
			</p:outputPanel>

			<p:outputPanel id="workReportDataPanel">
				<cp:workReportData
					model="#{worp2Bean.workReportViewComponent.workReportDataComponent}"
					isCreate="#{false}"
					modelSignInfo="#{worp2Bean.workReportViewComponent.signInfoMemberCallBack}"
					showReqAddSignBtn="false"
					showExecAddSignBtn="false"
					edit="#{worp2Bean.workReportViewComponent.workReportBtnComponent.editMode}"
					isAdminMode="#{isAdminMode}">
				</cp:workReportData>
				<!-- 會簽資訊 -->
				<ui:include src="worp_view_countersignInfo.xhtml" />
			</p:outputPanel>

			<!-- 執行單位說明-->
			<p:outputPanel id="exec_desc_panel_id">
				<ui:include src="../components/exec_desc.xhtml">
					<ui:param
						name="execDepSettingsComponent"
						value="#{worp2Bean.workReportViewComponent.execDescComponent}" />
				</ui:include>
			</p:outputPanel>

			<p:remoteCommand
				name="doReadReply"
				actionListener="#{worp2Bean.workReportViewComponent.readRelpy()}"
				process="@this">
			</p:remoteCommand>
			<!-- 編輯資訊 -->
			<ui:include src="worp_view_editInfo.xhtml" />


			<!-- TAB -->
			<p:outputPanel id="viewPanelBottomInfoTabId">

				<p:tabView
					style="border:none"
					rendered="#{worp2Bean.workReportViewComponent.showBottomInfoTab}"
					activeIndex="#{worp2Bean.workReportViewComponent.tabIndex}"
					widgetVar="viewPanelBottomInfoTab"
					id="viewPanelBottomInfoTabInId"
					dynamic="true"
					effect="slide"
					effectDuration="fast">
					<p:ajax
						event="tabChange"
						onstart="mergeSignCell();"
						listener="#{worp2Bean.workReportViewComponent.onTabChange}" />

					<!-- tab:簽核進度 -->
					<ui:include src="worp_tab_signInfo.xhtml" />
					<!-- tab:補充說明 -->
					<ui:include src="worp_tab_replyTrace.xhtml" />
					<!-- tab:附加檔案 -->
					<ui:include src="worp_tab_attachment.xhtml" />
					<!-- tab:閱讀記錄 -->
					<ui:include src="worp_tab_readReceipt.xhtml" />
					<!-- tab:回覆 -->
					<ui:include src="worp_tab_execReply.xhtml" />
					<!-- tab:追蹤 -->
					<ui:include src="worp_tab_trace.xhtml" />
					<!-- tab:執行資訊 -->
					<ui:include src="worp_tab_execInfo.xhtml" />
					<!-- tab:可閱人員 -->
					<ui:include src="worp_tab_viewPerson.xhtml" />
				</p:tabView>

			</p:outputPanel>
		</p:scrollPanel>
		<cp:attachmentUpload
			uploadDialogWv="dlgUploadWv"
			uploadDialogId="dlgUploadId"
			model="#{worp2Bean.workReportViewComponent.wpAttachmentCompant}"
			update="viewPanelBottomInfoTabId ">
		</cp:attachmentUpload>

		<!-- 附件刪除確認 -->
		<ui:include src="../components/dlg_attach_del_confirm.xhtml" />
		<!-- 挑選部門組織樹 -->
		<ui:include src="../components/dlg_deptUnit.xhtml" />
		<!-- 加派執行部門 -->
		<ui:include src="../components/dlg_excedeptUnit.xhtml" />
		<!-- 需求單位加簽 -->
		<ui:include src="../components/dlg_reqCounterSign.xhtml" />
		<!-- 執行單位加簽 -->
		<ui:include src="../components/dlg_execCounterSign.xhtml" />
		<!-- 需求流程[退回] -->
		<ui:include src="../components/dlg_bpm_rollback.xhtml" />
		<!-- 執行流程-執行單位簽核人員[退回] -->
		<ui:include src="../components/dlg_bpm_rollback_exec.xhtml" />
		<!-- 執行流程-執行單位簽核人員[不執行] -->
		<ui:include src="../components/dlg_bpm_stop_exec.xhtml" />
		<!-- 執行流程-無設定執行單位簽核人員[退回] -->
		<ui:include src="../components/dlg_bpm_rollback_execDep.xhtml" />
		<!-- 執行流程-無設定執行單位簽核人員[不執行] -->
		<ui:include src="../components/dlg_bpm_stop_execDep.xhtml" />
		<!-- 需求流程[作廢] -->
		<ui:include src="../components/dlg_bpm_invaild.xhtml" />
		<!-- 確認完成 -->
		<ui:include src="../components/dlg_close.xhtml" />
		<!-- [回覆]編輯 -->
		<ui:include src="../components/dlg_reply.xhtml" />
		<!-- [追蹤]回覆 -->
		<ui:include src="../components/dlg_again_reply.xhtml" />
		<!-- 執行完成 -->
		<ui:include src="../components/dlg_execFinish.xhtml" />
		<!-- 顯示錯誤訊息 -->
		<ui:include src="../components/dlg_confimDlgTemplate.xhtml" />

		<!-- 轉單 -->
		<ui:include src="../components/dlg_change_execPerson.xhtml">
			<ui:param
				name="componentId"
				value="execPerson" />
			<ui:param
				name="execTransPersonComponent"
				value="#{worp2Bean.workReportViewComponent.execTransPersonComponent}" />
		</ui:include>

		<!-- 分派 -->
		<ui:include src="../components/dlg_send_execPerson.xhtml">
			<ui:param
				name="componentId"
				value="sendExecPerson" />
			<ui:param
				name="execSendPersonComponent"
				value="#{worp2Bean.workReportViewComponent.execSendPersonComponent}" />
		</ui:include>

		<!-- 執行回覆 -->
		<ui:include src="../components/dlg_exec_reply.xhtml">
			<ui:param
				name="execReplyComponent"
				value="#{worp2Bean.workReportViewComponent.execReplyComponent}" />
		</ui:include>

		<p:remoteCommand
			name="mergeSignCell"
			update="@(.table_sign_role_class)"
			oncomplete="mergeCell();" />

		<script type="text/javascript">
            jQuery(document).ready(function () {
                $("#scrollPanelID").css('height',
                    $(window).height() - $("#workReportBtnPanel").height() - 20);
            });

            function mergeCell() {
                var obj = {};
                $('#viewPanelBottomInfoTabInId .table_sign_role_class').find('tbody').find(
                    'tr').each(
                    function () {
                        var combineSid = $(this).attr('data-rk');
                        if (combineSid !== undefined) {
                            var roleSid = combineSid.split(',')[0];
                            var userSid = combineSid.split(',')[1];

                            if (obj[roleSid]) {
                                obj[roleSid].push(userSid);
                            } else {
                                obj[roleSid] = [userSid];
                            }
                        }
                    });

                //merge cell
                $('#viewPanelBottomInfoTabInId .table_sign_role_class').find('tbody').find(
                    'tr').each(
                    function () {
                        var combineSid = $(this).attr('data-rk');
                        if (combineSid !== undefined) {
                            var roleSid = combineSid.split(',')[0];
                            var userSid = combineSid.split(',')[1];

                            if (obj[roleSid][0] === userSid) {
                                $(this).find('td').eq(0).attr('rowspan', obj[roleSid].length);
                            } else {
                                $(this).find('td').eq(0).remove();
                            }
                        }
                    });
            }

            function myrefresh() {
                window.location.reload();
            }

        </script>
	</ui:define>

</ui:composition>
