<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProjectReport.xhtml">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{sessionTimerBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="新增工作聯絡單" />
	</ui:define>
	<ui:define name="content">
		<script type="text/javascript">
            //重新載入frame
            function changeUrlByFrame(url) {
                $("#frameCenter").css('height',
                    $(window).height() - $("#layoutUnitCenter").position().top - 20);
                $('#frameCenter').attr("src", url);
            }

            //讀取單據(重新導向)
            function loadConnect(sid) {
                window.location.href = "worp_iframe.xhtml?wrcId=" + sid;
            }

            //瀏覽器視窗改變大小
            $(window).resize(function () {
                $("#frameCenter").css('height',
                    $(window).height() - $("#layoutUnitCenter").position().top - 20);
            });
        </script>
		<p:layout
			fullPage="true"
			widgetVar="layout">
			<p:layoutUnit
				id="layoutWest"
				position="west"
				header="功能清單"
				collapsible="false"
				size="250">
				<p:outputPanel>
					<ui:include src="../components/category_tree.xhtml">
						<ui:param
							name="componentId"
							value="categoryTree" />
						<ui:param
							name="categoryTreeComponent"
							value="#{worpCreateBean.categoryTreeComponent}" />
					</ui:include>
				</p:outputPanel>
			</p:layoutUnit>
			<p:layoutUnit
				position="center"
				id="layoutUnitCenter">
				<iframe
					id="frameCenter"
					name="frameCenter"
					frameborder="0"
					width="100%"
					src="" />
			</p:layoutUnit>
		</p:layout>
	</ui:define>

</ui:composition>
