<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:tab
	title="執行資訊"
	rendered="#{worp2Bean.workReportViewComponent.workReportHeaderComponent.showExecStatus}">
	<h:outputText value="　" />
	<p:dataTable
		value="#{worp2Bean.workReportViewComponent.workReportHeaderComponent.execInfoVOs}"
		rowIndexVar="index"
		var="execInfoVo"
		rowKey="#{execInfoVo.sid}"
		paginator="true"
		rows="50"
		resizableColumns="false">
		<p:column
			headerText="序"
			width="10">
			<h:outputText value="#{index+1}" />
		</p:column>
		<p:column
			headerText="類別"
			filterBy="#{execInfoVo.tagName}"
			sortBy="#{execInfoVo.tagName}"
			filterMatchMode="contains">
			<h:outputText value="#{execInfoVo.tagName}" />
		</p:column>
		<p:column
			headerText="執行部門"
			filterBy="#{execInfoVo.execDepName}"
			sortBy="#{execInfoVo.execDepName}"
			filterMatchMode="contains">
			<h:outputText value="#{execInfoVo.execDepName}" />
		</p:column>
		<p:column
			headerText="執行狀態"
			filterBy="#{execInfoVo.execStatus}"
			sortBy="#{execInfoVo.execStatus}"
			filterMatchMode="contains">
			<h:outputText value="#{execInfoVo.execStatus}" />
		</p:column>
		<p:column
			headerText="執行人員資訊"
			filterBy="#{execInfoVo.execPersonInfo}"
			sortBy="#{execInfoVo.execPersonInfo}"
			filterMatchMode="contains">
			<h:outputText
				value="#{execInfoVo.execPersonInfo}"
				id="execPersonInfoID" />
			<p:tooltip
				for="execPersonInfoID"
				value="#{execInfoVo.execPersonDetail}"
				trackMouse="true"
				escape="false" />
		</p:column>
	</p:dataTable>
</p:tab>
</html>

