<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<p:tab
	id="reply_tab_id"
	rendered="false">
	<f:facet name="title">
		<p:outputLabel value="補充說明" />
	</f:facet>
	<p:scrollPanel mode="native">
		<p:panel style="border:none">
			<p:accordionPanel
				widgetVar="wc_replytrace_tab_wv"
				id="wc_replytrace_tab_id"
				value="#{worp2Bean.workReportViewComponent.workReportReplyComponent.wcTraceVO}"
				var="replytrace"
				activeIndex="-1"
				multiple="true">
				<p:tab>
					<f:facet name="title">
						<p:outputLabel
							value="#{replytrace.userInfo}"
							style="font-weight: bold" />
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <h:outputText
							value="#{replytrace.time}"
							style="font-weight: bold">
						</h:outputText>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <p:commandButton
							icon="fa fa-pencil"
							title="編輯回覆"
							onstart="showLoad();"
							oncomplete="hideLoad();"
							class="btnAccPanelIcon"
							rendered="#{!worp2Bean.workReportViewComponent.wcStatusDeleteOrInvail}"
							actionListener="#{worp2Bean.workReportViewComponent.loadReply(replytrace.sid,'wc_replytrace_tab_wv')}"
							process="@this" />
					</f:facet>
					<p:panelGrid styleClass="width100">
						<p:row style="vertical-align: top;">
							<p:column
								colspan="1"
								style="width:50%">
								<p:outputLabel
									value="#{replytrace.content}"
									style="white-space: pre;"
									escape="false">
								</p:outputLabel>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:tab>
			</p:accordionPanel>
		</p:panel>
	</p:scrollPanel>
</p:tab>
</html>

