<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProjectReport.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="新增備忘錄"/>
    </ui:define>
    <ui:define name="content">
        <p:outputPanel id="screen_view">
            <ui:include src="../components/memo/memo_header.xhtml">
                <ui:param name="memoHeaderComponent"
                          value="#{worp3Bean.memoHeaderComponent}"/>
            </ui:include>
            <ui:include src="../components/memo/memo_data.xhtml">
                <ui:param name="memoDataComponent"
                          value="#{worp3Bean.memoDataComponent}"/>
            </ui:include>
            <ui:include src="../components/memo/memo_attachemt.xhtml">
                <ui:param name="memoAttachemtComponent"
                          value="#{worp3Bean.memoAttachemtComponent}"/>
            </ui:include>

            <p:panelGrid columns="2">
                <p:commandButton value="確認"
                                 actionListener="#{worp3Bean.save()}"
                                 onclick="showLoad();"
                                 onstart="saveHTML('screen_view_data_content_wv');saveHTML('screen_view_data_memo_wv');"
                                 process="@this screen_view_data screen_view_attachemt attachemtViewPanel"/>
                <p:commandButton value="取消"
                                 onclick="window.location.reload();"
                                 process="@this"
                                 type="button"/>
            </p:panelGrid>

        </p:outputPanel>

        <p:confirmDialog id="dlg_errorMessage"
                         widgetVar="dlg_errorMessage_wv">
            <f:facet name="message">
                <h:outputText value="#{worp3Bean.errorMessage}"
                              escape="false"/>
            </f:facet>
            <p:commandButton value="確認"
                             onclick="PF('dlg_errorMessage_wv').hide();"
                             type="button"/>
        </p:confirmDialog>

    </ui:define>

</ui:composition>
