/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/3/10, 下午 05:09:13
    Author     : steve_chen
*/

body {
    margin: 0;
    padding: 0;
    background: center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
}