@charset "UTF-8";

/* ================================= */
/* WS1.1 文字色碼 */
/* ref : http://confluence.iwerp.net:8090/pages/viewpage.action?pageId=37684838 */
/* ================================= */

/* WS1.1.1 內文資訊 */
.WS1-1-1 {
	color: #000000
}

.WS1-1-1b {
	color: #000000;
	font-weight: bold;
}

/* WS1.1.2 警示、預警、錯誤狀態、財務支出 、文字框標記色 */
.WS1-1-2 {
	color: #E20F0F
}

.WS1-1-2b {
	color: #E20F0F;
	font-weight: bold;
}

/* WS1.1.3 主醒目 */
.WS1-1-3 {
	color: #009ceb
}

.WS1-1-3b {
	color: #009ceb;
	font-weight: bold;
}

/* WS1.1.4 財務收入、輔醒目 */
.WS1-1-4 {
	color: #008e00
}

.WS1-1-4b {
	color: #008e00;
	font-weight: bold;
}

/* WS1.1.5 第三醒目色 */
.WS1-1-5 {
	color: #5f2cbf
}

.WS1-1-5b {
	color: #5f2cbf;
	font-weight: bold;
}

/* WS1.1.6 未閱讀文字連結 */
.WS1-1-6 {
	color: #1818da
}

/* WS1.1.7 已閱讀文字連結 */
.WS1-1-7 {
	color: #42428e
}

/* WS1.1.8 解釋、註記 */
.WS1-1-8 {
	color: #737373
}

/* WS1.1.9 於button之引導內文 */
.WS1-1-9 {
	color: #666666
}

/* WS1.1.10 於任何咖啡標題上-紅字 */
.WS1-1-10 {
	color: #CC0000
}

/* WS1.1.11 於首頁中紅色文字 */
.WS1-1-11 {
	color: #B80000
}

.AL-SEARCH-KEYWORD {
	text-decoration: underline;
	text-decoration-color: red;
	text-decoration-style: double;
}