<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<p:dialog
		rendered="#{not empty setting11Bean.transDepComponent}"
		header="指派單位轉檔"
		widgetVar="dlgTransDepForTransform"
		modal="true"
		position="center center-50"
		width="calc(100% - 50px)"
		maximizable="true"
		closeOnEscape="true"
		resizable="false">
		<p:panelGrid styleClass="spec_RemoveCss">
			<p:row>
				<p:column>
					<p:panelGrid
						id="dlgTransDepForTransform_depnfo"
						style="border:1px solid #9A7061">
						<p:row>
							<p:column styleClass="ui-widget-header">
								<p:outputLabel value="轉換前" />
							</p:column>
							<p:column>
								<p:outputLabel
									value="#{setting11Bean.transDepComponent.cpontVO.selVerifyDtVO.showBeforeDep}"
									escape="false" />
							</p:column>
							<p:column styleClass="ui-widget-header">
								<p:outputLabel value="轉換後" />
							</p:column>
							<p:column>
								<p:outputLabel
									value="#{setting11Bean.transDepComponent.cpontVO.selVerifyDtVO.showAfterDep}"
									escape="false" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:panelGrid columns="5">
						<p:commandButton
							value="查詢未轉檔資料"
							icon="ui-icon-search"
							actionListener="#{setting11Bean.transDepComponent.btnQuery()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();PF('dlgTransDepForTransform_Datatable').filter();"
							update="dlgTransDepForTransform_Datatable"
							process="@this">
						</p:commandButton>
						<p:commandButton
							value="轉檔"
							icon="fa fa-refresh"
							actionListener="#{setting11Bean.transDepComponent.btnTrnsSelected()}"
							onclick="showLoad();"
							oncomplete="removeElmClass('spec_RemoveCss', 'ui-panelgrid');hideLoad();PF('dlgTransDepForTransform_Datatable').clearFilters();"
							update="dlgTransDepForTransform_Datatable"
							process="@this dlgTransDepForTransform_Datatable">
						</p:commandButton>
					</p:panelGrid>
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<p:dataTable
						id="dlgTransDepForTransform_Datatable"
						widgetVar="dlgTransDepForTransform_Datatable"
						var="currVo"
						value="#{setting11Bean.transDepComponent.cpontVO.showDtVOList}"
						selection="#{setting11Bean.transDepComponent.cpontVO.selectedDtVOList}"
						rowKey="#{currVo.execDepSettingSid}"
						rowIndexVar="rowIndex"
						resizableColumns="true"
						liveResize="true"
						scrollable="true"
						scrollHeight="500"
						paginator="true"
						paginatorPosition="bottom"
						rows="500"
						rowsPerPageTemplate="50,500,1000,2000">
						<p:column
							selectionMode="multiple"
							exportable="false"
							style="width:20px;text-align:center" />
						<p:column
							headerText="序"
							styleClass="alignCenter"
							width="36">
							<h:outputText value="#{rowIndex + 1}" />
						</p:column>
						<p:column
							headerText="類別"
							filterBy="#{currVo.categoryName}"
							filterMatchMode="contains"
							width="70"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.categoryName}" />
						</p:column>
						<p:column
							headerText="單據名稱"
							filterBy="#{currVo.menuName}"
							filterMatchMode="contains"
							width="130"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.menuName}" />
						</p:column>
						<p:column
							headerText="執行項目"
							filterBy="#{currVo.tagName}"
							filterMatchMode="contains"
							width="80"
							styleClass="alignCenter">
							<h:outputText value="#{currVo.tagName}" />
						</p:column>
						<p:column
							headerText="狀態"
							width="50">
							<h:outputText
								value="#{currVo.status}"
								escape="false" />
						</p:column>
						<p:column
							headerText="需求方簽核"
							width="70">
							<h:outputText value="#{currVo.reqSignInfo}" />
						</p:column>
						<p:column
							headerText="執行模式"
							width="70">
							<h:outputText value="#{currVo.execMode}" />
						</p:column>
					</p:dataTable>
				</p:column>
			</p:row>
		</p:panelGrid>

	</p:dialog>

</ui:composition>

