<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="../template/templateProject.xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <f:metadata>
        <f:event
                type="preRenderView"
                listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>

    <ui:define name="title">
        <h:outputText value="執行項目模版維護"/>
    </ui:define>

    <ui:define name="content">
        <style>
            /*colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']*/
            .templetType_0 {
                background: #FCF2BB
            }

            .templetType_1 {
                background: #BBEAFC
            }

            .templetType_2 {
                background: #BBC9FC
            }

            .templetType_3 {
                background: #DDDF00
            }

            /* 停留效果
            ----------------------------------*/
            .ui-state-highlight,
            .ui-widget-content .ui-state-highlight,
            .ui-widget-header .ui-state-highlight {
                border: 1px solid #999;
                background: #E9E9E9;
                color: #000000;
            }

            /* 滑入效果
            ----------------------------------
            .ui-state-hover,
            .ui-widget-content .ui-state-hover,
            .ui-widget-header .ui-state-hover,
            .ui-state-focus,
            .ui-widget-content .ui-state-focus,
            .ui-widget-header .ui-state-focus {
                    background: #E9E9E9;
            }*/
        </style>

        <!--執行查詢-->
        <p:remoteCommand name="doSearchData"
                         actionListener="#{setting14Bean.doSearch()}"
                         onstart="showLoad();"
                         oncomplete="hideLoad();"
                         update="id_queryResult"
                         process="@this searchArea"/>

        <p:outputPanel id="allPanel">
            <p:panel
                    id="headerTitle"
                    style="border:none">
                <p:panelGrid
                        style="width:100%;"
                        id="searchArea">
                    <p:row>
                        <p:column style="text-align:right;width:80px;">
                            <p:outputLabel value="程式名稱："/>
                        </p:column>
                        <p:column
                                style="text-align:left;">
                            <p:outputLabel
                                    styleClass="reportTypeColor"
                                    value="執行項目模版維護"/>
                        </p:column>
                        <p:column>
                            <p:panelGrid columns="12">
                                <p:commandButton
                                        value="新增"
                                        onstart="showLoad();"
                                        oncomplete="hideLoad();PF('editDialog').show();"
                                        actionListener="#{setting14Bean.openAddDialog()}"
                                        update="editDialog"
                                        process="@this"/>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <!--查詢表身-->
                <p:dataTable
                        id="id_queryResult"
                        widgetVar="wv_queryResult"
                        value="#{setting14Bean.templetList}"
                        var="templet"
                        rowKey="#{templet.sid}"
                        rowIndexVar="index"
                        paginator="false"
                        draggableColumns="false"
                        draggableRows="true"
                        resizableColumns="false"
                        selectionMode="single"
                        selection="#{setting14Bean.selectedRow}"
                        rowStyleClass="templetType_#{setting14Bean.menuTagMap.get(templet.menuTagSid)}"
                        emptyMessage="無符合資料">
                    <p:ajax
                            event="rowDblselect"
                            process="@this id_queryResult"
                            listener="#{setting14Bean.openEditDialog()}"
                            update="editDialog"
                            onstart="showLoad();"
                            oncomplete="hideLoad();"/>
                    <p:ajax
                            event="rowReorder"
                            onstart="showLoad();"
                            oncomplete="deleteDraggableRowsErrorContent();hideLoad();"
                            listener="#{setting14Bean.sort}"
                            update="id_queryResult"/>
                    <p:column
                            headerText="排序序號"
                            width="50"
                            style="text-align:center">
                        <h:outputText value="#{index+1}"/>
                    </p:column>
                    <p:column
                            headerText="類別"
                            width="180">
                        <h:outputText value="#{templet.categoryName}"/>
                    </p:column>
                    <p:column headerText="單據名稱">
                        <h:outputText value="#{templet.menuName}"
                                      escape="false"/>
                    </p:column>
                    <p:column headerText="使用名稱">
                        <h:outputText
                                value="#{templet.usename}"
                                escape="false"/>
                    </p:column>
                    <p:column headerText="備註">
                        <h:outputText
                                value="#{templet.memo}"
                                escape="false"/>
                    </p:column>
                    <p:column
                            headerText="建議勾選項目設定"
                            width="60"
                            style="text-align:center;">
                        <p:commandButton
                                icon="fa fa-gear"
                                actionListener="#{setting14Bean.openCategoryItems(templet.sid)}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="allPanel"/>
                    </p:column>
                    <p:column
                            headerText="刪除"
                            width="60"
                            style="text-align:center;">
                        <p:commandButton
                                value="刪除"
                                actionListener="#{setting14Bean.delete(templet.sid)}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="allPanel"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </p:outputPanel>

        <!-- ====================================== -->
        <!-- 內容維護 (新增/編輯) dialog -->
        <!-- ====================================== -->
        <p:dialog
                id="editDialog"
                widgetVar="editDialog"
                header="執行項目建議勾選模版 - #{(setting14Bean.editComponent.editMode == 'A')? '新增':'編輯'}"
                modal="true"
                position="center center-100"
                resizable="false"
                closable="true"
                closeOnEscape="true">

            <p:panelGrid
                    style="width:100%;"
                    id="editDialogDataPanel">
                <p:row>
                    <p:column style="text-align:right;width:80px;">
                        <p:outputLabel value="單據名稱：" styleClass="column-label-require"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectOneMenu
                                disabled="${setting14Bean.editComponent.editMode != 'A'}"
                                value="#{setting14Bean.editComponent.templetVo.menuNameVO}"
                                converter="menuTagConverter" panelStyle="width:180px"
                                var="t" style="width:500px" filter="true"
                                filterMatchMode="contains">
                            <f:selectItems
                                    value="#{setting14Bean.menuTags}"
                                    var="currTag"
                                    itemLabel="#{currTag.name}"
                                    itemValue="${currTag}">
                            </f:selectItems>
                            <p:column style="width:50%">
                                <h:outputText value="#{t.itemName}"/>
                            </p:column>

                            <p:column>
                                <h:outputText value="#{t.name}"/>
                            </p:column>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="使用名稱：" styleClass="column-label-require"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectOneMenu value="#{setting14Bean.editComponent.templetVo.usename}"
                                         style="width:225px" maxlength="50"
                                         editable="true">
                            <f:selectItems value="#{setting14Bean.editComponent.useNameItems}"/>
                        </p:selectOneMenu>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="備註： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:inputTextarea
                                value="#{setting14Bean.editComponent.templetVo.memo}"
                                cols="35"
                                rows="7"
                                autoResize="true"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column
                            style="text-align:right;"
                            colspan="2">
                        <hr/>
                        <p:commandButton
                                value="確定"
                                actionListener="#{setting14Bean.saveTemplet()}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="editDialogDataPanel"/>
                        <p:commandButton
                                value="取消"
                                process="@this"
                                oncomplete="PF('editDialog').hide();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:dialog>

        <!-- ====================================== -->
        <!-- 建議勾選項目設定 dialog -->
        <!-- ====================================== -->
        <p:dialog
                header="建議勾選項目設定"
                id="defaultValue_dlg_id"
                position="center top"
                modal="true"
                widgetVar="defaultValue_dlg_wv"
                draggable="true"
                closable="true"
                resizable="false"
                closeOnEscape="true"
                height="auto"
                styleClass="disable-scroll">
            <p:scrollPanel
                    id="defaultValue_dlg_panel_id"
                    mode="native"
                    style="border:none;max-height:450px;">
                <ui:include src="../components/category_items_default.xhtml">
                    <ui:param
                            name="componentId"
                            value="categoryItems"/>
                    <ui:param
                            name="categoryItemComponent"
                            value="#{setting14Bean.categoryItemComponent}"/>
                </ui:include>
            </p:scrollPanel>
            <p:panel style="border:none">
                <p:row>
                    <p:commandButton
                            value="確定"
                            actionListener="#{setting14Bean.saveDefaultValue()}"
                            process="@this defaultValue_dlg_panel_id"
                            onstart="showLoad();"
                            oncomplete="hideLoad();PF('defaultValue_dlg_wv').hide();"/>
                    <p:commandButton
                            value="取消"
                            onstart="showLoad();"
                            process="@this"
                            oncomplete="hideLoad();PF('defaultValue_dlg_wv').hide();"/>
                </p:row>
            </p:panel>
        </p:dialog>
    </ui:define>
</ui:composition>
