<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        template="../template/templateProject.xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:cp="http://java.sun.com/jsf/composite/components"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <f:metadata>
        <f:event
                type="preRenderView"
                listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>

    <ui:define name="title">
        <h:outputText value="設定群組 - 維護作業"/>
    </ui:define>

    <ui:define name="customCSS">
        <style type="text/css">
            /*讓過長溢出的字省略變 ...(outputText)*/
            .outputTextEllipsis {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: pre;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        </style>
    </ui:define>

    <ui:define name="content">
        <!--執行選擇-->
        <p:remoteCommand name="groupSelect"
                         actionListener="#{setting12Bean.onRowSelect()}"
                         update="tree_tag tree_templet controlBtn"
                         process="@this"/>
        <p:layout fullPage="true" widgetVar="layout">
            <p:layoutUnit id="center" position="center">
                <p:outputPanel id="allPanel">
                    <p:panel
                            id="headerTitle"
                            style="border:none">
                        <p:panelGrid
                                style="width:100%;"
                                id="searchArea">
                            <p:row>
                                <p:column style="text-align:right;width:80px;">
                                    <p:outputLabel value="程式名稱："/>
                                </p:column>
                                <p:column
                                        style="text-align:left;"
                                        colspan="2">
                                    <p:outputLabel
                                            styleClass="reportTypeColor"
                                            value="設定群組 - 維護作業"/>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="text-align:right;">
                                    <p:outputLabel value="部門："/>
                                </p:column>
                                <p:column style="text-align:left;">
                                    <p:panelGrid id="searchDepDisplayContent" columns="2">
                                        <p:commandButton
                                                icon="fa fa-gear"
                                                actionListener="#{setting12Bean.initSerachDepTree()}"
                                                update="setting12SearchDepDlg"
                                                onstart="showLoad();"
                                                process="@this"
                                                oncomplete="hideLoad();PF('setting12SearchDepDlg').show();"/>
                                        <p:outputLabel
                                                value="#{setting12Bean.searchComponent.depDisplayContent}"
                                                id="searchDeps"
                                                escape="false"
                                                class="outputTextEllipsis"/>
                                        <p:tooltip for="searchDeps"
                                                   style="white-space:pre;"
                                                   value="#{setting12Bean.searchComponent.depDisplayContent}"
                                                   trackMouse="true"
                                                   escape="false"/>
                                    </p:panelGrid>
                                </p:column>
                                <p:column>
                                    <p:panelGrid columns="12">
                                        <p:commandButton
                                                title="搜尋群組設定狀況"
                                                value="搜尋"
                                                actionListener="#{setting12Bean.doSearch()}"
                                                update="id_queryResult"
                                                onstart="showLoad();"
                                                oncomplete="hideLoad();"
                                                process="@this searchArea"/>
                                        <p:commandButton
                                                title="新增設定群組"
                                                value="新增"
                                                onstart="showLoad();"
                                                oncomplete="hideLoad();PF('editDialog').show();"
                                                actionListener="#{setting12Bean.openAddDialog()}"
                                                update="editDialog"
                                                process="@this"/>
                                        <p:commandButton
                                                title="清除搜尋條件"
                                                value="清除"
                                                onstart="showLoad();"
                                                oncomplete="hideLoad();"
                                                actionListener="#{setting12Bean.init()}"
                                                update="searchArea id_queryResult tree_tag tree_templet"
                                                process="@this"/>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column style="text-align:right;">
                                    <p:outputLabel value="人員："/>
                                </p:column>
                                <p:column
                                        style="text-align:left;"
                                        colspan="2">
                                    <p:panelGrid id="searchUserDisplayContent" columns="2">
                                        <p:commandButton
                                                icon="fa fa-gear"
                                                actionListener="#{setting12Bean.openSearchUserQuickSelectedTree()}"
                                                update="setting12SearchUserDlg"
                                                onstart="showLoad();"
                                                process="@this"
                                                oncomplete="hideLoad();PF('setting12SearchUserDlg').show();"/>
                                        <p:outputLabel
                                                value="#{setting12Bean.searchComponent.userDisplayContent}"
                                                id="searchUsers"
                                                escape="false"
                                                class="outputTextEllipsis"/>
                                        <p:tooltip for="searchUsers"
                                                   style="white-space:pre;"
                                                   value="#{setting12Bean.searchComponent.userDisplayContent}"
                                                   trackMouse="true"
                                                   escape="false"/>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>

                        <!--查詢表身-->
                        <p:dataTable
                                id="id_queryResult"
                                widgetVar="wv_queryResult"
                                value="#{setting12Bean.groupList}"
                                var="group"
                                rowKey="#{group.sid}"
                                rowIndexVar="index"
                                paginator="false"
                                draggableColumns="false"
                                draggableRows="true"
                                resizableColumns="false"
                                selectionMode="single"
                                selection="#{setting12Bean.selectedRow}"
                                emptyMessage="無符合資料"
                                styleClass="myTable">
                            <p:ajax
                                    event="rowSelect"
                                    process="@this id_queryResult"
                                    listener="#{setting12Bean.onRowSelect()}"
                                    update="controlBtn tree_tag tree_templet"
                                    onstart="showLoad();"
                                    oncomplete="hideLoad();"/>
                            <p:ajax
                                    event="rowReorder"
                                    onstart="showLoad();"
                                    oncomplete="deleteDraggableRowsErrorContent();hideLoad();"
                                    listener="#{setting12Bean.sort}"
                                    update="id_queryResult"/>
                            <p:column
                                    headerText="排序序號"
                                    width="50"
                                    style="text-align:center">
                                <h:outputText value="#{index+1}"/>
                            </p:column>
                            <p:column
                                    headerText="編輯"
                                    width="60"
                                    style="text-align:center;">
                                <p:commandButton
                                        value="編輯"
                                        actionListener="#{setting12Bean.openEditDialog(group.sid)}"
                                        update="editDialog"
                                        onstart="showLoad();"
                                        oncomplete="hideLoad();"
                                        process="id_queryResult"/>
                            </p:column>
                            <p:column headerText="群組名稱">
                                <h:outputText value="#{group.groupNameShowColorful}"
                                              escape="false"/>
                            </p:column>
                            <p:column headerText="部門">
                                <h:outputText
                                        value="#{group.configValueDepsShow}"
                                        escape="false"
                                        styleClass="outputTextEllipsis"
                                        id="groupDep"/>
                                <p:tooltip for="id_queryResult:#{index}:groupDep"
                                           style="white-space:pre;"
                                           value="#{group.configValueDepsShow}"
                                           trackMouse="true"
                                           escape="false"/>
                            </p:column>
                            <p:column headerText="人員">
                                <h:outputText
                                        value="#{group.configValueUsersShow}"
                                        escape="false"
                                        styleClass="outputTextEllipsis"
                                        id="groupUser"/>
                                <p:tooltip for="id_queryResult:#{index}:groupUser"
                                           style="white-space:pre;"
                                           value="#{group.configValueUsersShow}"
                                           trackMouse="true"
                                           escape="false"/>
                            </p:column>
                            <p:column
                                    headerText="刪除"
                                    width="60"
                                    style="text-align:center;">
                                <p:commandButton
                                        value="刪除"
                                        actionListener="#{setting12Bean.delete(group.sid)}"
                                        onstart="showLoad();"
                                        oncomplete="hideLoad();"
                                        process="allPanel"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                </p:outputPanel>
            </p:layoutUnit>
            <p:layoutUnit id="layoutEast" position="east" size="330" resizable="true"
                          header="設定權限項目">
                <p:outputPanel id="controlBtn">
                    <p:selectBooleanCheckbox
                            itemLabel="展開"
                            widgetVar="expandAll"
                            value="#{setting12Bean.checkAll}">
                        <p:ajax event="change"
                                listener="#{setting12Bean.toggleExpand()}"
                                process="@this"
                                update="tree_tag tree_templet"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"/>
                    </p:selectBooleanCheckbox>
                    <p:commandButton id="btnEdit" value="編輯" title="編輯設定權限"
                                     rendered="#{!setting12Bean.editable and not empty setting12Bean.selectedRow}"
                                     actionListener="#{setting12Bean.prepareToEdit()}"
                                     update="tree_tag tree_templet controlBtn"
                                     process="@this"
                                     onstart="showLoad();" oncomplete="hideLoad();"/>
                    <p:commandButton id="btnSaveForEdit" value="存檔" title="存檔設定權限"
                                     rendered="#{setting12Bean.editable}"
                                     actionListener="#{setting12Bean.doUpdate()}"
                                     process="@this"
                                     onstart="showLoad();" oncomplete="hideLoad();groupSelect();"/>
                    <p:commandButton id="btnCancel" value="取消" title="取消編輯設定權限"
                                     rendered="#{setting12Bean.editable}"
                                     actionListener="#{setting12Bean.executeCancel()}"
                                     update="tree_tag tree_templet controlBtn"
                                     process="@this"
                                     onstart="showLoad();" oncomplete="hideLoad();"/>
                </p:outputPanel>
                <p:panel id="tagPanel" widgetVar="tagPanel" toggleable="true" header="工作聯絡單">
                    <p:tree id="tree_tag" value="#{setting12Bean.allTagTreeManager.rootNode}"
                            showUnselectableCheckbox="true"
                            propagateSelectionDown="false" propagateSelectionUp="false"
                            var="node" nodeVar="item" selectionMode="checkbox"
                            selection="#{setting12Bean.selectedTagNode}">
                        <p:ajax event="unselect" process="@this" update=""
                                listener="#{setting12Bean.onTreeUnSelect}"/>
                        <p:ajax event="select" process="@this" update=""
                                listener="#{setting12Bean.onTreeSelect}"/>
                        <p:treeNode type="CategoryTag">
                            <h:outputText value="#{node.categoryName}"
                                          title="#{(node.status eq 'INACTIVE') ? '(已停用)' : ''}大類[類別]"
                                          styleClass="colorType_CategoryTag #{(node.status eq 'INACTIVE') ? 'colorType_red' : ''}"/>
                        </p:treeNode>
                        <p:treeNode type="MenuTag">
                            <h:outputText value="#{node.menuName}"
                                          title="#{(node.status eq 'INACTIVE') ? '(已停用)' : ''}中類[單據名稱]"
                                          styleClass="colorType_MenuTag #{(node.status eq 'INACTIVE') ? 'colorType_red' : ''}"/>
                        </p:treeNode>
                        <p:treeNode type="Tag">
                            <h:outputText value="#{node.name}"
                                          title="#{(node.status eq 'INACTIVE') ? '(已停用)' : ''}小類[執行項目]"
                                          styleClass="colorType_Tag #{(node.status eq 'INACTIVE') ? 'colorType_red' : ''}"/>
                        </p:treeNode>
                        <p:treeNode type="ExecDep">
                            <h:outputText value="#{node.name}"
                                          title="#{(node.status eq 'INACTIVE') ? '(已停用)' : ''}執行單位"
                                          styleClass="colorType_EXEC_DEP #{(node.status eq 'INACTIVE') ? 'colorType_red' : ''}"/>
                        </p:treeNode>
                    </p:tree>
                </p:panel>
                <p:panel id="templetPanel" widgetVar="templetPanel" toggleable="true" header="模版">
                    <p:tree id="tree_templet" value="#{setting12Bean.templetTreeRoot}"
                            showUnselectableCheckbox="true"
                            propagateSelectionDown="false" propagateSelectionUp="false"
                            var="node" nodeVar="item" selectionMode="checkbox"
                            selection="#{setting12Bean.selectedTempletNode}">
                        <p:ajax event="unselect" process="@this" update=""
                                listener="#{setting12Bean.onTreeUnSelect}"/>
                        <p:ajax event="select" process="@this" update=""
                                listener="#{setting12Bean.onTreeSelect}"/>
                        <p:treeNode type="templet">
                            <h:outputText value="#{node.getTempletNameShowColorful()}"
                                          escape="false"
                                          styleClass="colorType_#{node.templetType}"
                                          title="#{node.getTempletTypeShow()}"/>
                        </p:treeNode>
                    </p:tree>
                </p:panel>
            </p:layoutUnit>
        </p:layout>
        <!-- ====================================== -->
        <!-- 內容維護 (新增/編輯) dialog -->
        <!-- ====================================== -->
        <p:dialog
                id="editDialog"
                widgetVar="editDialog"
                header="設定群組 - #{(setting12Bean.editComponent.editMode == 'A')? '新增':'編輯'}"
                modal="true"
                position="center center-100"
                resizable="false"
                closable="true"
                closeOnEscape="true">

            <p:panelGrid
                    style="width:100%;"
                    id="editDialogDataPanel">
                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="群組名稱：" styleClass="column-label-require"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:inputText value="#{setting12Bean.editComponent.groupVo.groupName}"
                                     maxlength="50"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="人員： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:commandButton
                                icon="fa fa-gear"
                                actionListener="#{setting12Bean.openEditUserQuickSelectedTree()}"
                                update="setting12EditUserDlg"
                                onstart="showLoad();"
                                process="@this"
                                oncomplete="hideLoad();PF('setting12EditUserDlg').show();"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="部門： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:commandButton
                                icon="fa fa-gear"
                                actionListener="#{setting12Bean.initEditDepTree()}"
                                update="setting12EditDepDlg"
                                onstart="showLoad();"
                                process="@this"
                                oncomplete="hideLoad();PF('setting12EditDepDlg').show();"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="含以下單位： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectBooleanCheckbox
                                value="#{setting12Bean.editComponent.groupVo.configValue.depContainFollowing}"
                                style=" text-align: center;"
                                itemLabel=""
                                label="含以下單位"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel
                                value="被選擇【除外】： "
                                title="運算結果為被選擇單位(人員)『以外』所有單位(人員)，此欄位計算規則包含『含以下單位』設定, 並過濾已停用單位(人員)"/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:selectBooleanCheckbox
                                value="#{setting12Bean.editComponent.groupVo.configValue.depExcept}"
                                style=" text-align: center;"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column style="text-align:right;">
                        <p:outputLabel value="備註： "/>
                    </p:column>
                    <p:column style="text-align:left;">
                        <p:inputTextarea
                                value="#{setting12Bean.editComponent.groupVo.memo}"
                                cols="35"
                                rows="7"
                                autoResize="true"/>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column
                            style="text-align:right;"
                            colspan="2">
                        <hr/>
                        <p:commandButton
                                value="確定"
                                actionListener="#{setting12Bean.saveSetGroup()}"
                                onstart="showLoad();"
                                oncomplete="hideLoad();"
                                process="editDialogDataPanel"/>
                        <p:commandButton
                                value="取消"
                                process="@this"
                                oncomplete="PF('editDialog').hide();"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:dialog>

        <!-- ====================================== -->
        <!-- 查詢 - 部門選單 dialog -->
        <!-- ====================================== -->
        <p:dialog
                header="部門"
                id="setting12SearchDepDlg"
                position="center center"
                widgetVar="setting12SearchDepDlg"
                modal="true"
                resizable="false"
                closeOnEscape="true">
            <p:outputPanel id="settingSearchDepPanel">
                <cp:depTree
                        model="#{setting12Bean.searchComponent.depTree.getMultipleDepTreeManager()}"
                        dlgName="setting12SearchDepDlg"
                        btnShow="true">
                    <f:actionListener
                            for="actionEvent"
                            binding="#{setting12Bean.searchComponent.depTreeConfirm()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>

        <!-- ====================================== -->
        <!-- 查詢 - 人員選單 dialog -->
        <!-- ====================================== -->
        <p:dialog
                id="setting12SearchUserDlg"
                widgetVar="setting12SearchUserDlg"
                header="人員"
                modal="true"
                closeOnEscape="true"
                resizable="false">

            <cp:quickSelectTree
                    quickSelectTreeModel="#{setting12Bean.searchComponent.searchUserQuickSelectedTree}"
                    componentID="searchUserQuickSelectedTree"
                    selectedAreaEmptyMessage="尚未選擇人員"
                    selectedAreaTitle="已選擇人員"
                    dataNodeIcon="fa-user"
                    isSingleMode="false">
            </cp:quickSelectTree>

            <p:outputPanel style="padding-left:10px">
                <p:commandButton
                        value="確定"
                        actionListener="#{setting12Bean.searchComponent.refreshUser()}"
                        onstart="showLoad();"
                        oncomplete="PF('setting12SearchUserDlg').hide();hideLoad();"
                        update="searchUserDisplayContent"
                        process="@this setting12SearchUserDlg"/>
                &nbsp;&nbsp;
                <p:commandButton
                        value="取消"
                        process="@this"
                        onclick="PF('setting12SearchUserDlg').hide()"/>
                <br/>
                <br/>
            </p:outputPanel>
        </p:dialog>


        <!-- ====================================== -->
        <!-- 內容維護 - 部門選單 dialog -->
        <!-- ====================================== -->
        <p:dialog
                header="部門"
                id="setting12EditDepDlg"
                position="center+200 center"
                widgetVar="setting12EditDepDlg"
                modal="true"
                resizable="false"
                closeOnEscape="true">
            <p:outputPanel id="setting12EditDepPanel">
                <cp:depTree
                        model="#{setting12Bean.editComponent.depTree.getMultipleDepTreeManager()}"
                        dlgName="setting12EditDepDlg"
                        btnShow="true">
                    <f:actionListener
                            for="actionEvent"
                            binding="#{setting12Bean.editComponent.depTreeConfirm()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>

        <!-- ====================================== -->
        <!-- 內容維護 - 人員選單 dialog -->
        <!-- ====================================== -->
        <p:dialog
                id="setting12EditUserDlg"
                widgetVar="setting12EditUserDlg"
                header="人員"
                modal="true"
                closeOnEscape="true"
                resizable="false">

            <cp:quickSelectTree
                    quickSelectTreeModel="#{setting12Bean.editComponent.editUserQuickSelectedTree}"
                    componentID="editUserQuickSelectedTree"
                    selectedAreaEmptyMessage="尚未選擇人員"
                    selectedAreaTitle="已選擇人員"
                    dataNodeIcon="fa-user"
                    isSingleMode="false">
            </cp:quickSelectTree>

            <p:outputPanel style="padding-left:10px">
                <p:commandButton
                        value="確定"
                        actionListener="#{setting12Bean.editComponent.refreshUser()}"
                        onstart="showLoad();"
                        oncomplete="PF('setting12EditUserDlg').hide();hideLoad();"
                        process="@this setting12EditUserDlg"/>
                &nbsp;&nbsp;
                <p:commandButton
                        value="取消"
                        process="@this"
                        onclick="PF('setting12EditUserDlg').hide()"/>
                <br/>
                <br/>
            </p:outputPanel>
        </p:dialog>
    </ui:define>
</ui:composition>
