<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
>
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="工作聯絡單特殊權限調整"/>
    </ui:define>

    <ui:define name="content">

        <ui:include src="../worp/pickUserComponents.xhtml">
            <ui:param name="pickUserDialogTitle" value="基礎單位成員可閱權限減少"/>
            　　<ui:param name="pickUserDialogVar" value="sel_limitBaseAccessUser_pickUser_dlg_wav"/>
            <ui:param name="pickUserDialogID" value="sel_limitBaseAccessUser_pickUser_dlg_id"/>
            <ui:param name="pickUserSearchMethodName" value="limitBaseAccessUserSearchName"/>
            <ui:param name="pickUserMemberID" value="limitBaseAccessUserpickUserMemberID"/>
            <ui:param name="pickUserID" value="limitBaseAccessUserpickUserID"/>
            <ui:param name="pickUserSelDepDialogID"
                      value="limitBaseAccessUserpickUserSelDepDialogID"/>
            <ui:param name="pickUserSelDepDialogVar"
                      value="#{setting5Bean.limitBaseAccessViewUserComponent.selectDepDialog_Var}"/>
            <ui:param name="pickUserComponent"
                      value="#{setting5Bean.limitBaseAccessViewUserComponent.pickUserComponent}"/>

        </ui:include>
        <ui:include src="../worp/pickUserComponents.xhtml">
            <ui:param name="pickUserDialogTitle" value="基礎單位成員可閱權限增加"/>
            　　<ui:param name="pickUserDialogVar" value="sel_otherBaseAccessUser_pickUser_dlg_wav"/>
            <ui:param name="pickUserDialogID" value="sel_otherBaseAccessUser_pickUser_dlg_id"/>
            <ui:param name="pickUserSearchMethodName" value="otherBaseAccessUserSearchName"/>
            <ui:param name="pickUserMemberID" value="otherBaseAccessUserpickUserMemberID"/>
            <ui:param name="pickUserID" value="otherBaseAccessUserpickUserID"/>
            <ui:param name="pickUserSelDepDialogID"
                      value="otherBaseAccessUserpickUserSelDepDialogID"/>
            <ui:param name="pickUserSelDepDialogVar"
                      value="#{setting5Bean.otherBaseAccessViewUserComponent.selectDepDialog_Var}"/>
            <ui:param name="pickUserComponent"
                      value="#{setting5Bean.otherBaseAccessViewUserComponent.pickUserComponent}"/>

        </ui:include>

        <p:dialog header="部門" widgetVar="sel_otherBaseAccessDep_dlg_wav" modal="true"
                  resizable="false">
            <p:outputPanel id="sel_otherBaseAccessDep_dlg_id">
                <cp:depTree
                        model="#{setting5Bean.otherBaseAccessViewDepComponent.selectDepTreeManager}"
                        update=":formTemplate:all_permission_tab"
                        dlgName="sel_otherBaseAccessDep_dlg_wav" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting5Bean.otherBaseAccessViewDepComponent.doSelectDep()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="部門" widgetVar="sel_limitBaseAccessDep_dlg_wav" modal="true"
                  resizable="false">
            <p:outputPanel id="sel_limitBaseAccessDep_dlg_id">
                <cp:depTree
                        model="#{setting5Bean.limitBaseAccessViewDepComponent.selectDepTreeManager}"
                        update=":formTemplate:all_permission_tab"
                        dlgName="sel_limitBaseAccessDep_dlg_wav" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting5Bean.limitBaseAccessViewDepComponent.doSelectDep()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="部門" widgetVar="sel_otherBaseAccessUser_dlg_wav" modal="true"
                  resizable="false">
            <p:outputPanel id="sel_otherBaseAccessUser_dlg_id">
                <cp:depTree
                        model="#{setting5Bean.otherBaseAccessViewUserComponent.selectDepTreeManager}"
                        update=":formTemplate:all_permission_tab"
                        dlgName="sel_otherBaseAccessUser_dlg_wav" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting5Bean.otherBaseAccessViewUserComponent.doSelectDep()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="部門" widgetVar="sel_limitBaseAccessUser_dlg_wav" modal="true"
                  resizable="false">
            <p:outputPanel id="sel_limitBaseAccessUser_dlg_id">
                <cp:depTree
                        model="#{setting5Bean.limitBaseAccessViewUserComponent.selectDepTreeManager}"
                        update=":formTemplate:all_permission_tab"
                        dlgName="sel_limitBaseAccessUser_dlg_wav" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting5Bean.limitBaseAccessViewUserComponent.doSelectDep()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="部門" widgetVar="sel_otherBaseAccessDep_permission_dlg_wav" modal="true"
                  resizable="false">
            <p:outputPanel id="sel_otherBaseAccessDep_permission_dlg_id">
                <cp:depTree
                        model="#{setting5Bean.otherBaseAccessViewDepComponent.selectPermissionDepTreeManager}"
                        update=":formTemplate:all_permission_tab"
                        dlgName="sel_otherBaseAccessDep_permission_dlg_wav" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting5Bean.otherBaseAccessViewDepComponent.doSelectPermissionDepTree()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:dialog header="部門" widgetVar="sel_limitBaseAccessDep_permission_dlg_wav" modal="true"
                  resizable="false">
            <p:outputPanel id="sel_limitBaseAccessDep_permission_dlg_id">
                <cp:depTree
                        model="#{setting5Bean.limitBaseAccessViewDepComponent.selectPermissionDepTreeManager}"
                        update=":formTemplate:all_permission_tab"
                        dlgName="sel_limitBaseAccessDep_permission_dlg_wav" btnShow="true">
                    <f:actionListener for="actionEvent"
                                      binding="#{setting5Bean.limitBaseAccessViewDepComponent.doSelectPermissionDepTree()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>
        <p:confirmDialog id="confimDlgTemplate" widgetVar="confimDlgTemplate">
            <f:facet name="message">
                <h:outputText value="#{setting5Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confimDlgTemplate').hide()"/>
        </p:confirmDialog>
        <p:tabView id="all_permission_tab" dynamic="true" cache="false" style="border:none;"
                   binding="#{setting5Bean.permissionTabView}">
            <p:tab title="單位可閱權限增加(聯集)">
                <p:panel style="border:none;width: 100%;">
                    <p:panelGrid columns="6">
                        <h:outputText value="建立部門： "/>
                        <p:commandButton icon="ui-icon-search" process="@this"
                                         update="sel_otherBaseAccessDep_dlg_id"
                                         actionListener="#{setting5Bean.otherBaseAccessViewDepComponent.loadSelectDepTree()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('sel_otherBaseAccessDep_dlg_wav').show();"/>
                        <h:outputText value="僅顯示已設定："/>
                        <p:selectBooleanCheckbox
                                value="#{setting5Bean.otherBaseAccessViewDepComponent.onlyShowSetting}">
                            <p:ajax
                                    listener="#{setting5Bean.otherBaseAccessViewDepComponent.changeShowMode()}"
                                    onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    update=":formTemplate:all_permission_tab:otherBaseAccessDepDataTable :formTemplate:all_permission_tab:otherBaseAccessViewDepID"
                                    process="@this"/>
                        </p:selectBooleanCheckbox>
                    </p:panelGrid>
                </p:panel>
                <p:layout style="width: 1400px;height: 500px">

                    <p:layoutUnit position="west" resizable="false" size="700" minSize="700"
                                  maxSize="700">
                        <p:dataTable
                                value="#{setting5Bean.otherBaseAccessViewDepComponent.otherBaseAccessDeps}"
                                scrollHeight="300" rowIndexVar="index"
                                var="dep" rowKey="#{dep.sid}"
                                paginator="true"
                                selection="#{setting5Bean.otherBaseAccessViewDepComponent.selOrgViewVo}"
                                scrollable="true" rows="50"
                                resizableColumns="true"
                                resizeMode="expand"
                                selectionMode="single"
                                id="otherBaseAccessDepDataTable">
                            <p:ajax event="rowSelect" process="@this" onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    listener="#{setting5Bean.otherBaseAccessViewDepComponent.onRowSelect}"
                                    update=":formTemplate:all_permission_tab:otherBaseAccessViewDepID"/>
                            <p:column headerText="序" width="10">
                                <h:outputText value="#{index+1}"/>
                            </p:column>

                            <p:column headerText="部門名稱" style="width: 100%">
                                <h:outputText value="#{dep.name}"/>
                            </p:column>
                        </p:dataTable>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" size="700" minSize="700" maxSize="700">
                        <p:layout>
                            <p:layoutUnit position="west" resizable="false" size="350" minSize="350"
                                          maxSize="350">
                                <p:outputPanel id="otherBaseAccessViewDepID">
                                    <cp:depTree
                                            model="#{setting5Bean.otherBaseAccessViewDepComponent.viewDepTreeManager}"
                                            btnShow="false"
                                            dlgName="otherBaseAccessViewDep">
                                    </cp:depTree>
                                </p:outputPanel>
                            </p:layoutUnit>
                            <p:layoutUnit position="center" resizable="false" size="350"
                                          minSize="350" maxSize="350">
                                <p:commandButton value="調整" process="@this"
                                                 actionListener="#{setting5Bean.otherBaseAccessViewDepComponent.loadPermissionDepTree()}"
                                                 onstart="showLoad();"
                                                 update="sel_otherBaseAccessDep_permission_dlg_id"
                                                 oncomplete="hideLoad();"/>
                            </p:layoutUnit>


                        </p:layout>
                    </p:layoutUnit>
                </p:layout>
            </p:tab>
            <p:tab title="單位成員可閱權限增加(聯集)">
                <p:panel style="border:none;width: 100%;">
                    <p:remoteCommand name="otheruserNameKeyinDoSearch"
                                     actionListener="#{setting5Bean.otherBaseAccessViewUserComponent.doSearchUserName()}"
                                     onstart="showLoad();" oncomplete="hideLoad();"
                                     update=":formTemplate:all_permission_tab"
                                     process="@this otheruserNameKeyin"/>
                    <p:panelGrid columns="7">
                        <h:outputText value="單位： "/>
                        <p:commandButton icon="ui-icon-search" process="@this"
                                         update="sel_otherBaseAccessUser_dlg_id"
                                         actionListener="#{setting5Bean.otherBaseAccessViewUserComponent.loadSelectDepTree()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('sel_otherBaseAccessUser_dlg_wav').show();"/>
                        <h:outputText value="暱稱： "/>
                        <p:inputText id="otheruserNameKeyin"
                                     value="#{setting5Bean.otherBaseAccessViewUserComponent.userName}"
                                     onkeydown="executeScriptByEnter(event, 'otheruserNameKeyinDoSearch();');"/>
                        <p:commandButton value="搜尋" process="@this"
                                         onclick="otheruserNameKeyinDoSearch();"/>
                        <h:outputText value="僅顯示已設定："/>
                        <p:selectBooleanCheckbox
                                value="#{setting5Bean.otherBaseAccessViewUserComponent.onlyShowSetting}">
                            <p:ajax
                                    listener="#{setting5Bean.otherBaseAccessViewUserComponent.changeShowMode()}"
                                    onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    update=":formTemplate:all_permission_tab:otherBaseAccessUserDataTable :formTemplate:all_permission_tab:viewOtherUserViewsDataTable"
                                    process="@this"/>
                        </p:selectBooleanCheckbox>
                    </p:panelGrid>
                </p:panel>
                <p:layout style="width: 1400px;height: 500px">

                    <p:layoutUnit position="west" resizable="false" size="700" minSize="700"
                                  maxSize="700">
                        <p:dataTable
                                value="#{setting5Bean.otherBaseAccessViewUserComponent.otherBaseAccessViewUsers}"
                                scrollHeight="300" rowIndexVar="index"
                                var="user" rowKey="#{user.sid}"
                                paginator="true"
                                selection="#{setting5Bean.otherBaseAccessViewUserComponent.selUserViewVO}"
                                scrollable="true" rows="50"
                                resizableColumns="true"
                                resizeMode="expand"
                                selectionMode="single"
                                id="otherBaseAccessUserDataTable">
                            <p:ajax event="rowSelect" process="@this" onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    listener="#{setting5Bean.otherBaseAccessViewUserComponent.onRowSelect}"
                                    update=":formTemplate:all_permission_tab:otherBaseAccessViewUserID"/>
                            <p:column headerText="序" width="10">
                                <h:outputText value="#{index+1}"/>
                            </p:column>

                            <p:column headerText="部門名稱" style="width: 70%">
                                <h:outputText value="#{user.departmentName}"/>
                            </p:column>
                            <p:column headerText="使用者暱稱" style="width: 30%">
                                <h:outputText value="#{user.name}"/>
                            </p:column>
                        </p:dataTable>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" size="700" minSize="700" maxSize="700">
                        <p:layout>
                            <p:layoutUnit position="west" resizable="false" size="350" minSize="350"
                                          maxSize="350">
                                <p:outputPanel id="otherBaseAccessViewUserID">
                                    <p:dataTable
                                            value="#{setting5Bean.otherBaseAccessViewUserComponent.viewLimitUserViews}"
                                            scrollHeight="300" rowIndexVar="index"
                                            var="user" rowKey="#{user.sid}"
                                            paginator="true"
                                            scrollable="true" rows="50"
                                            resizableColumns="true"
                                            resizeMode="expand"
                                            id="viewOtherUserViewsDataTable">

                                        <p:column headerText="序" width="10">
                                            <h:outputText value="#{index+1}"/>
                                        </p:column>

                                        <p:column headerText="部門名稱" style="width: 70%">
                                            <h:outputText value="#{user.departmentName}"/>
                                        </p:column>
                                        <p:column headerText="暱稱" style="width: 30%">
                                            <h:outputText value="#{user.name}"/>
                                        </p:column>
                                    </p:dataTable>

                                </p:outputPanel>
                            </p:layoutUnit>
                            <p:layoutUnit position="center" resizable="false" size="200"
                                          minSize="200" maxSize="200">
                                <p:commandButton value="調整" onstart="showLoad();"
                                                 oncomplete="hideLoad();" process="@this"
                                                 update="sel_otherBaseAccessUser_pickUser_dlg_id"
                                                 actionListener="#{setting5Bean.otherBaseAccessViewUserComponent.loadPickUser()}"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:layoutUnit>
                </p:layout>
            </p:tab>
            <p:tab title="基礎單位可閱權限減少(交集)" rendered="false">
                <p:panel style="border:none;width: 100%;">
                    <p:panelGrid columns="6">
                        <h:outputText value="建立部門： "/>
                        <p:commandButton icon="ui-icon-search" process="@this"
                                         update="sel_limitBaseAccessDep_dlg_id"
                                         actionListener="#{setting5Bean.limitBaseAccessViewDepComponent.loadSelectDepTree()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('sel_limitBaseAccessDep_dlg_wav').show();"/>
                    </p:panelGrid>
                </p:panel>
                <p:layout style="width: 1400px;height: 500px">

                    <p:layoutUnit position="west" resizable="false" size="700" minSize="700"
                                  maxSize="700">
                        <p:dataTable
                                value="#{setting5Bean.limitBaseAccessViewDepComponent.limitBaseAccessViewDeps}"
                                scrollHeight="300" rowIndexVar="index"
                                var="dep" rowKey="#{dep.sid}"
                                paginator="true"
                                selection="#{setting5Bean.limitBaseAccessViewDepComponent.selOrgViewVo}"
                                scrollable="true" rows="50"
                                resizableColumns="true"
                                resizeMode="expand"
                                selectionMode="single"
                                id="limitBaseAccessDepDataTable">
                            <p:ajax event="rowSelect" process="@this" onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    listener="#{setting5Bean.limitBaseAccessViewDepComponent.onRowSelect}"
                                    update=":formTemplate:all_permission_tab:limitBaseAccessViewDepID"/>
                            <p:column headerText="序" width="10">
                                <h:outputText value="#{index+1}"/>
                            </p:column>

                            <p:column headerText="部門名稱" style="width: 70%">
                                <h:outputText value="#{dep.name}"/>
                            </p:column>
                            <p:column headerText="異動" style="width: 30%">
                                <h:outputText value="Y" rendered="#{dep.modifyed}"/>
                            </p:column>
                        </p:dataTable>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" size="700" minSize="700" maxSize="700">
                        <p:layout>
                            <p:layoutUnit position="west" resizable="false" size="350" minSize="350"
                                          maxSize="350">
                                <p:outputPanel id="limitBaseAccessViewDepID">
                                    <cp:depTree
                                            model="#{setting5Bean.limitBaseAccessViewDepComponent.viewDepTreeManager}"
                                            btnShow="false"
                                            dlgName="limitBaseAccessViewDep">
                                    </cp:depTree>
                                </p:outputPanel>
                            </p:layoutUnit>
                            <p:layoutUnit position="center" resizable="false" size="350"
                                          minSize="350" maxSize="350">
                                <p:commandButton value="調整" process="@this"
                                                 actionListener="#{setting5Bean.limitBaseAccessViewDepComponent.loadPermissionDepTree()}"
                                                 onstart="showLoad();"
                                                 update="sel_limitBaseAccessDep_permission_dlg_id"
                                                 oncomplete="hideLoad();"/>
                            </p:layoutUnit>


                        </p:layout>
                    </p:layoutUnit>
                </p:layout>
            </p:tab>

            <p:tab title="基礎單位成員可閱權限減少(交集)" rendered="false">
                <p:panel style="border:none;width: 100%;">
                    <p:panelGrid columns="6">
                        <p:remoteCommand name="limituserNameKeyinDoSearch"
                                         actionListener="#{setting5Bean.limitBaseAccessViewUserComponent.doSearchUserName()}"
                                         onstart="showLoad();" oncomplete="hideLoad();"
                                         update=":formTemplate:all_permission_tab"
                                         process="@this limituserNameKeyin"/>
                        <h:outputText value="單位： "/>
                        <p:commandButton icon="ui-icon-search" process="@this"
                                         update="sel_limitBaseAccessUser_dlg_id"
                                         actionListener="#{setting5Bean.limitBaseAccessViewUserComponent.loadSelectDepTree()}"
                                         onstart="showLoad();"
                                         oncomplete="hideLoad();PF('sel_limitBaseAccessUser_dlg_wav').show();"/>
                        <h:outputText value="暱稱： "/>
                        <p:inputText id="limituserNameKeyin"
                                     value="#{setting5Bean.limitBaseAccessViewUserComponent.userName}"
                                     onkeydown="executeScriptByEnter(event, 'limituserNameKeyinDoSearch();');"/>
                        <p:commandButton value="搜尋" process="@this"
                                         onclick="limituserNameKeyinDoSearch();"/>
                    </p:panelGrid>
                </p:panel>
                <p:layout style="width: 1400px;height: 500px">

                    <p:layoutUnit position="west" resizable="false" size="700" minSize="700"
                                  maxSize="700">
                        <p:dataTable
                                value="#{setting5Bean.limitBaseAccessViewUserComponent.limitBaseAccessViewUsers}"
                                scrollHeight="300" rowIndexVar="index"
                                var="user" rowKey="#{user.sid}"
                                paginator="true"
                                selection="#{setting5Bean.limitBaseAccessViewUserComponent.selUserViewVO}"
                                scrollable="true" rows="50"
                                resizableColumns="true"
                                resizeMode="expand"
                                selectionMode="single"
                                id="limitBaseAccessUserDataTable">
                            <p:ajax event="rowSelect" process="@this" onstart="showLoad();"
                                    oncomplete="hideLoad();"
                                    listener="#{setting5Bean.limitBaseAccessViewUserComponent.onRowSelect}"
                                    update=":formTemplate:all_permission_tab:limitBaseAccessViewUserID"/>
                            <p:column headerText="序" width="10">
                                <h:outputText value="#{index+1}"/>
                            </p:column>

                            <p:column headerText="部門名稱" style="width: 60%">
                                <h:outputText value="#{user.departmentName}"/>
                            </p:column>
                            <p:column headerText="使用者暱稱" style="width: 30%">
                                <h:outputText value="#{user.name}"/>
                            </p:column>
                            <p:column headerText="異動" style="width: 10%">
                                <h:outputText value="Y" rendered="#{user.modifyed}"/>
                            </p:column>
                        </p:dataTable>
                    </p:layoutUnit>
                    <p:layoutUnit position="center" size="700" minSize="700" maxSize="700">
                        <p:layout>
                            <p:layoutUnit position="west" resizable="false" size="350" minSize="350"
                                          maxSize="350">
                                <p:outputPanel id="limitBaseAccessViewUserID">
                                    <p:dataTable
                                            value="#{setting5Bean.limitBaseAccessViewUserComponent.viewLimitUserViews}"
                                            scrollHeight="300" rowIndexVar="index"
                                            var="user" rowKey="#{user.sid}"
                                            paginator="true"
                                            scrollable="true" rows="50"
                                            resizableColumns="true"
                                            resizeMode="expand"
                                            id="viewLimitUserViewsDataTable">

                                        <p:column headerText="序" width="10">
                                            <h:outputText value="#{index+1}"/>
                                        </p:column>

                                        <p:column headerText="部門名稱" style="width: 70%">
                                            <h:outputText value="#{user.departmentName}"/>
                                        </p:column>
                                        <p:column headerText="暱稱" style="width: 30%">
                                            <h:outputText value="#{user.name}"/>
                                        </p:column>
                                    </p:dataTable>

                                </p:outputPanel>
                            </p:layoutUnit>
                            <p:layoutUnit position="center" resizable="false" size="200"
                                          minSize="200" maxSize="200">
                                <p:commandButton value="調整" onstart="showLoad();"
                                                 oncomplete="hideLoad();" process="@this"
                                                 update="sel_limitBaseAccessUser_pickUser_dlg_id"
                                                 actionListener="#{setting5Bean.limitBaseAccessViewUserComponent.loadPickUser()}"/>
                            </p:layoutUnit>
                        </p:layout>
                    </p:layoutUnit>
                </p:layout>
            </p:tab>
        </p:tabView>


    </ui:define>

</ui:composition>
